force-app/main/default/flows/Assessment_Review_After_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_HST</name>
        <label>Which record type</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HST</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSTP_Discharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_HSTP_Plan_0</targetReference>
            </connector>
            <label>HST</label>
        </rules>
        <rules>
            <name>PITS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PITS_Discharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PITS_Plan</targetReference>
            </connector>
            <label>PITS</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDateTask</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CreatedDate} + 3</expression>
    </formulas>
    <interviewLabel>Assessment/Review - After Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment/Review - After Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Notify_OM_to_Send_Invoice</name>
        <label>Notify OM to Send Invoice</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DueDateTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Find_OM_of_Cockburn.Office_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Cassandra Nioa will be the one doing the billing, but to avoid flow error, we will use OM of Cockburn</description>
        <name>Find_OM_of_Cockburn</name>
        <label>Find OM of Cockburn</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notify_OM_to_Send_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cockburn</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_HSTP_Plan_0</name>
        <label>Update HSTP Plan</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HSTP_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Total__c</field>
            <value>
                <elementReference>$Record.Final_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Mental_Score__c</field>
            <value>
                <elementReference>$Record.Initial_Mental_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Physical_Score__c</field>
            <value>
                <elementReference>$Record.Initial_Physical_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Total__c</field>
            <value>
                <elementReference>$Record.Initial_Total__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_HOOS__c</field>
            <value>
                <elementReference>$Record.Post_HOOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_KOOS__c</field>
            <value>
                <elementReference>$Record.Post_KOOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Mental_Score__c</field>
            <value>
                <elementReference>$Record.Post_Mental_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Physical_Score__c</field>
            <value>
                <elementReference>$Record.Post_Physical_Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_HOOS__c</field>
            <value>
                <elementReference>$Record.Pre_HOOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_KOOS__c</field>
            <value>
                <elementReference>$Record.Pre_KOOS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>HSTP_Plan__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PITS_Plan</name>
        <label>Update PITS Plan</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Find_OM_of_Cockburn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PITS_Plan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_for_early__c</field>
            <value>
                <elementReference>$Record.Reasons_for_Early_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sessions_Completed__c</field>
            <value>
                <elementReference>$Record.Number_of_Sessions_PITS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>PITS_Plan__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_HST</targetReference>
        </connector>
        <object>enrtcr__Assessment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record.CreatedBy.FirstName} has created a PITS discharge form for {!$Record.enrtcr__Client__r.enrtcr__Display_Full_Name__c}. You can now send the invoice to the client.</text>
    </textTemplates>
    <textTemplates>
        <name>TaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Send Invoice to {!$Record.enrtcr__Client__r.enrtcr__Display_Full_Name__c}</text>
    </textTemplates>
</Flow>
