force-app/main/default/flows/Create_Team_Performance_Agenda.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Supervision_Minutes_Detail_Page</name>
        <label>Navigate to Supervision Minutes Detail Page</label>
        <locationX>314</locationX>
        <locationY>2258</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Supervision.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Team_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in_Team_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Team_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Goal_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_1_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Goal_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_2_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Goal_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_3_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Goal_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Support_Needs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisor_Support__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Support_Needs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_TL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_TL_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_TL_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_TL_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Capacity_per_DS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Cap_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Cap_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Cap_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_DM_report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_DM_Report_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_DM_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_DM_Report_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Audit_Fields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Audit_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Audit_Reviewed_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Complaint_Incident__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Complaint_Incident_Fields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_C_I_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscussionSupervisee_Assessment_C_I_Fieldd</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_Survey_Feedback__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Survey_Feedback_Fields</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Assessment_FS_Reviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Assessment_Survey_Feedback_Reviewed_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.TL_Site_Culture_Rating__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TL_Site_Culture_Rating_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.TL_Site_Culture_Rating_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TL_Site_Culture_Rating_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Flexi_Budget_Picklist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Flexi_Budget_Needs_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee_Flexi_Needs_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Flexi_Budget_Needs_Discussion_Filed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisor_Review_Flexi_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Review_of_Flex_Budget_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisor_Review_Flexi_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Review_of_Flex_Budget_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.People_Management_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Team_Member_Item_of_Issus_Actions_and_Outcomes_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0128r000000EiKXAA0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervision_Minute_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Supervision_Minutes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CheckInPicklistChoice1</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Things are going great&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going great</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice2</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Things are going well&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going well</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice3</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Things are going steady&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going steady</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice4</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Things are going poorly&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going poorly</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice5</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Things are going terribly&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going terribly</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Audit_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;All Team Members conform&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All Team Members conform</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Audit_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Most Team Members conform&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Most Team Members conform</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Audit_Choice3</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Support Required - See Action Items&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Required - See Action Items</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Cap_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;All capacity is up to date - no BD needs&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All capacity is up to date - no BD needs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Cap_Choice2</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;All capacity is up to date - See BD Needs&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All capacity is up to date - See BD Needs</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Cap_Choice3</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Capacity is not yet fully updated - Actions required&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Capacity is not yet fully updated - Actions required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Complaints_Incidents_Choice1</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;All incidents and complaints reviewed and managed&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>All incidents and complaints reviewed and managed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Complaints_Incidents_Choice2</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;No incidents and complaints to review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No incidents and complaints to review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Complaints_Incidents_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Action required&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Action required</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_DM_Report_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Everyone is forecasting well&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Everyone is forecasting well</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_DM_Report_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Most people are foreasting well&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Most people are foreasting well</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_DM_Report_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Some people are forecasting well&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Some people are forecasting well</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_DM_Report_Choice4</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Support is needed for better forecasting - see discussion&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support is needed for better forecasting - see discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Survey_Feedback_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Survey Scores are above 70%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Scores are above 70%</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Survey_Feedback_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Survey Scores are below 70% &lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Survey Scores are below 70% </stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Assessment_Survey_Feedback_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;No Survey Scores Recorded&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Survey Scores Recorded</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Onboarding&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice10</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;RM Spec Task&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RM Spec Task</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Offboarding&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offboarding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;PIP&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PIP</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice4</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Support Plan&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Support Plan</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice5</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Mid Prob Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mid Prob Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice6</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Probation review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Probation review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice7</name>
        <choiceText>Business Dev</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Business Dev</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice8</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Performance Review&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Performance Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisee_Flexi_Budget_Needs_Choice9</name>
        <choiceText>Supervisor Add Travel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supervisor Add Travel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisor_Review_Flex_Budget_Choice1</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Helvetica; font-size: 11.36px; background-color: rgb(255, 255, 255);&quot;&gt;Flexi budget hours match with requested amount&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flexi budget hours match with requested amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisor_Review_Flex_Budget_Choice2</name>
        <choiceText>Flexi budget hours exceeded requested amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flexi budget hours exceeded requested amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Supervisor_Review_Flex_Budget_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Flexi budget hours were less than requested amount&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Flexi budget hours were less than requested amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Performance_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Team are all achieving&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team are all achieving</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Performance_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Team are mostly achieving&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team are mostly achieving</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Performance_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;Team are not yet consistently achieving&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team are not yet consistently achieving</stringValue>
        </value>
    </choices>
    <choices>
        <name>Team_Performance_Choice4</name>
        <choiceText>&lt;span style=&quot;color: rgb(0, 0, 0); font-family: Calibri; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Team are struggling - see discussion&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Team are struggling - see discussion</stringValue>
        </value>
    </choices>
    <choices>
        <name>TL_Site_Culture_Rating_Choice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;The Site Culture is Excellent&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Site Culture is Excellent</stringValue>
        </value>
    </choices>
    <choices>
        <name>TL_Site_Culture_Rating_Choice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;The Site Culture is Good&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Site Culture is Good</stringValue>
        </value>
    </choices>
    <choices>
        <name>TL_Site_Culture_Rating_Choice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;The Site Culture needs work&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Site Culture needs work</stringValue>
        </value>
    </choices>
    <choices>
        <name>TL_Site_Culture_Rating_Choice4</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri; color: rgb(0, 0, 0);&quot;&gt;The Site Culture is a concern&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>The Site Culture is a concern</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Task_1_Decision</name>
        <label>Task 1 Decision</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Task_2_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_2_Decision</name>
        <label>Task 2 Decision</label>
        <locationX>314</locationX>
        <locationY>1178</locationY>
        <defaultConnector>
            <targetReference>Task_3_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_2_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_2_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_2_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title 2 Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_3_Decision</name>
        <label>Task 3 Decision</label>
        <locationX>314</locationX>
        <locationY>1718</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Supervision_Minutes_Detail_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_3_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_3_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_3_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title 3 Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Supervision_Minute_Name</name>
        <dataType>String</dataType>
        <expression>{!Supervisor_Field.recordName} + &quot; - &quot; + TEXT(DAY({!Date_Field})) +&quot;/&quot; +TEXT(MONTH({!Date_Field}))+&quot;/&quot; + TEXT(YEAR({!Date_Field}))</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!Tasks_Field}), true, false)</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task_2</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(NOT(ISBLANK({!Tasks_2_Field})), NOT(ISBLANK({!Date_Due_2_Field}))), true, false)</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task_3</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(NOT(ISBLANK({!Tasks_3_Field})), NOT(ISBLANK({!Date_Due_3_Field}))), true, false)</expression>
    </formulas>
    <interviewLabel>Create Team Performance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Team Performance Agenda</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Supervision_Minutes</name>
        <label>Add Supervision Minutes</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Task_1_Decision</targetReference>
        </connector>
        <inputReference>Supervision</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Task_2_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_1_Error_Message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Task_3_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_2_Error_Message_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_2_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Navigate_to_Supervision_Minutes_Detail_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_3_Error_Message_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_3_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Logged_In_User</name>
        <label>Logged In User</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Team_Performance_Agenda</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Team_Performance_Agenda</name>
        <label>Add Team Performance Agenda</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>Add_Team_Performance_Agenda_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisor_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supervisor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supervisor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SupervisorDefault.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supervisee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supervisee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Date_Field</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_In_Title</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(120, 0, 108); font-size: 16px;&quot;&gt;Pulse Check&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 11pt; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;How are things going for you personally and how are things going for the team/site?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Field</name>
                    <choiceReferences>CheckInPicklistChoice1</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice2</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice3</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice4</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Check-in (Personal)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Check_in_Team_Field</name>
                    <choiceReferences>CheckInPicklistChoice1</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice2</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice3</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice4</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Check-in (Team)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Discussion_Field</name>
                    <fieldText>Check-in Discussion (Personal)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Check_in_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Check_in_Team_Discussion_Field</name>
                    <fieldText>Check-in Discussion (Team)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Check_in_Team_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>clinical_caseload_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(120, 0, 108);&quot;&gt;Leadership Development &amp;amp; Support&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: Calibri, Calibri_EmbeddedFont, Calibri_MSFontService, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Goals from supervisor development plans, progress towards them and other support needs.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goal_1_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Goal 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Goal_2_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Goal 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Goal_3_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Goal 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goal_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Goal_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Other_Support_Needs_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Other Support Needs&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Support_Needs</name>
                    <dataType>String</dataType>
                    <fieldText>Supervisee</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisor_Support_Needs</name>
                    <dataType>String</dataType>
                    <fieldText>Supervisor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Team_performance_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Dashboard/01Z8u00000052WSEAY/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;Team Performance&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_TL_Field</name>
                    <choiceReferences>Team_Performance_Choice1</choiceReferences>
                    <choiceReferences>Team_Performance_Choice2</choiceReferences>
                    <choiceReferences>Team_Performance_Choice3</choiceReferences>
                    <choiceReferences>Team_Performance_Choice4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_TL_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Supervisee_Assessment_TL_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Team_Capacity_Management_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000JshhEAC/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;Team Capacity Management&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Cap_Field</name>
                    <choiceReferences>Supervisee_Assessment_Cap_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Cap_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Cap_Choice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Cap_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>diary_mgmt_text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000Jsi6EAC/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12px;&quot;&gt;&lt;strong&gt;&lt;em&gt;Diary Management Report for DS&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_DM_Report_Field</name>
                    <choiceReferences>Supervisee_Assessment_DM_Report_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_DM_Report_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_DM_Report_Choice3</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_DM_Report_Choice4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_DM_Report_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Supervisee_Assessment_DM_Report_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Team_Clinical_Service_Text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000JshmEAC/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(1, 118, 211);&quot;&gt;&lt;strong&gt;Team Clinical Service&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Complaint_Incident_Fields</name>
                    <choiceReferences>Supervisee_Assessment_Complaints_Incidents_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Complaints_Incidents_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Complaints_Incidents_Choice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DiscussionSupervisee_Assessment_C_I_Fieldd</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Report Reviewed by Supervisor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Audit_Result_Text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000JseiEAC/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;em&gt;Audit Results&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Audit_Fields</name>
                    <choiceReferences>Supervisee_Assessment_Audit_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Audit_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Audit_Choice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Audit_Reviewed_Field</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Report Reviewed by Supervisor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>capacity_om_url</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000JsmwEAC/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;em&gt;DS Survey Feedback this month&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Survey_Feedback_Fields</name>
                    <choiceReferences>Supervisee_Assessment_Survey_Feedback_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Survey_Feedback_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Assessment_Survey_Feedback_Choice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee&apos;s Assessment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Assessment_Survey_Feedback_Reviewed_Field</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Report Reviewed by Supervisor</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/:w:/r/sites/BetterRehab/_layouts/15/Doc.aspx?sourcedoc=%7B95E09307-57C3-4880-B33C-910216DAD408%7D&amp;amp;file=220606%20-%20Capacity%20Template.docx&amp;amp;action=default&amp;amp;mobileredirect=true&amp;amp;cid=f376eb90-6409-4aae-90dc-bf824958636e&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(22, 167, 240);&quot;&gt;&lt;em&gt;Capacity Template to OM (Supervisor)&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>love_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Dashboard/01Z8u0000005ZInEAM/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(1, 118, 211); font-size: 16px;&quot;&gt;&lt;strong&gt;Site Culture Management (TL only)&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TL_Site_Culture_Rating_Field</name>
                    <choiceReferences>TL_Site_Culture_Rating_Choice1</choiceReferences>
                    <choiceReferences>TL_Site_Culture_Rating_Choice2</choiceReferences>
                    <choiceReferences>TL_Site_Culture_Rating_Choice3</choiceReferences>
                    <choiceReferences>TL_Site_Culture_Rating_Choice4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>TL&apos;s Site Culture Rating</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TL_Site_Culture_Rating_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flexi_Budget_Needs_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Flexi Budget Use/Needs&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Flexi_Budget_Needs_Field</name>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice1</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice2</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice3</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice4</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice5</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice6</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice7</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice8</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice9</choiceReferences>
                    <choiceReferences>Supervisee_Flexi_Budget_Needs_Choice10</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisee Flexi Budget Needs</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Flexi_Budget_Needs_Discussion_Filed</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Flexi_Budget_Use_Previous_Cycle_Text</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000JtPeEAK/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;&lt;em&gt;Flexi Budget Use Previous Cycle&lt;/em&gt;&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisor_Review_of_Flex_Budget_Field</name>
                    <choiceReferences>Supervisor_Review_Flex_Budget_Choice1</choiceReferences>
                    <choiceReferences>Supervisor_Review_Flex_Budget_Choice2</choiceReferences>
                    <choiceReferences>Supervisor_Review_Flex_Budget_Choice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Supervisor&apos;s Review of Flex Budget</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisor_Review_of_Flex_Budget_Discussion_Field</name>
                    <fieldText>Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>People_Management_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;u&gt;People Management&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Team_Member_Item_of_Issus_Actions_and_Outcomes_Field</name>
                    <fieldText>Team Member/Item of Issus/ Actions and Outcomes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TaskDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(120, 0, 108); font-size: 16px;&quot;&gt;Create Task(s)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>task_1_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Task 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tasks_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Task Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_have_more_tasks_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you like to create another task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>task_2_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Task 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tasks_2_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Task Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section19</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section19_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_2_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee2.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_2_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_2_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee2.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_2_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section19_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_2_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_more_tasks_2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you like to create another task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>task_3_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Task 3&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tasks_3_Field</name>
            <dataType>String</dataType>
            <fieldText>Task Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section20</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section20_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_3_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee3.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_3_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_3_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee3.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_3_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Team_Performance_Agenda_Section20_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_3_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Team_Performance_Agenda_Section21</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Team_Performance_Agenda_Section21_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>policy_url</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/sites/IT/Project/Project Resources/Supervision Minutes/../../../../../:w:/s/PoliciesandProcedures/EcSq6UT1MoVOrXNTxG4jHQEBdKGqKHajG3eQaDEX_SwJUw?e=BI2Dtw&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Supervision Policy and Procedure&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_1_Error_Message_0</name>
        <label>Task 1 Error Message</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Team_Performance_Agenda</targetReference>
        </connector>
        <fields>
            <name>Task_1_Fault_Mesasge_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 1
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_2_Error_Message_0_0</name>
        <label>Task 2 Error Message</label>
        <locationX>314</locationX>
        <locationY>1418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Team_Performance_Agenda</targetReference>
        </connector>
        <fields>
            <name>Task_2_Fault_Mesasge_0_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 2 
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_3_Error_Message_0_0</name>
        <label>Task 3 Error Message</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Team_Performance_Agenda</targetReference>
        </connector>
        <fields>
            <name>Task_3_Fault_Mesasge_0_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 3 
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Logged_In_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Assignee2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Assignee3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervision</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Supervision_Minutes__c</objectType>
    </variables>
    <variables>
        <name>SupervisorDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
