force-app/main/default/flows/Create_Supervision_Minutes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Supervision_Minutes_Detail_Page</name>
        <label>Navigate to Supervision Minutes Detail Page</label>
        <locationX>314</locationX>
        <locationY>3266</locationY>
        <actionName>c:DetailPageNavigation</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Supervision.Supervisor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisor_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Supervisee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervisee_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Check_in_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_in_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Values__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Values_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Values_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Values_Comments_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.PCH_Last_Week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCH_Last_Week_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.PCH_Last_Week_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCH_Last_Week_Comments_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.PCH_Last_Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCH_Last_Cycle_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.PCH_Last_Cycle_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PCH_Last_Cycle_Comments_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Enough_work_for_next_4_weeks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enough_work_for_next_4_weeks_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Additional_comments_for_next_4_week__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_comments_for_next_4_week_capacity_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Is_my_capacity_up_to_date_and_accurate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_my_capacity_up_to_date_and_accurate_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Additional_comments_capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_comments_capacity_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Have_I_updated_OM_w_clinician_s_capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HaveIupdatedOMwithclinicianscapacityField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Client_Discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Audit_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Audit_discussion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Audit_Discussion_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Development_Goals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Development_Goals_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Shadowed_sessions_since_last_supervision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Shadowed_sessions_since_last_supervision_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Special_Interest_Group_Supervision__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Interest_Group_Supervision_Attendance_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Upcoming_leave_planning__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Upcoming_leave_planning_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Incidents_and_complaints__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Incidents_and_complaints_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Supervision_Minute_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Procedural_Audit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedural_Audit_Field.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.Client_Question__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Question_Field</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Supervision.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0128r000000EiSbAAK</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Supervision_Minutes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CheckInPicklistChoice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Things are going amazing&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going amazing</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Things are going really well&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going really well</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Things are going ok&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Things are going ok</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice4</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;I&apos;m starting to struggle&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I&apos;m starting to struggle</stringValue>
        </value>
    </choices>
    <choices>
        <name>CheckInPicklistChoice5</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;I really need some support&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I really need some support</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastCycleChoice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;More than 100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastCycleChoice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastCycleChoice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Less than 100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastWeekChoice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;More than 100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>More than 100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastWeekChoice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>PCHLastWeekChoice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Less than 100%&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Less than 100%</stringValue>
        </value>
    </choices>
    <choices>
        <name>ValuesChoice1</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Getting Sh*t Done&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Getting Sh*t Done</stringValue>
        </value>
    </choices>
    <choices>
        <name>ValuesChoice2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Loving What I Do&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Loving What I Do</stringValue>
        </value>
    </choices>
    <choices>
        <name>ValuesChoice3</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Frankly Giving a Damn&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Frankly Giving a Damn</stringValue>
        </value>
    </choices>
    <choices>
        <name>ValuesChoice4</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;Being People People&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Being People People</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Audit_Is_Empty</name>
        <label>Check Audit Is Empty</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Check_Last_Week_Is_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Audit_Field_Is_Empty</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Audit_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Procedural_Audit_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Audit_Discussion_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PCH_Audit_Field_Error_Screen</targetReference>
            </connector>
            <label>Check Audit Field Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Cycle_Is_Empty</name>
        <label>Check Last Cycle Is Empty</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Assign_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Last_Cycle_Field_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PCH_Last_Cycle_Comments_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PCH_Last_Cycle_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PCHLastCycleChoice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PCH_Last_Cycle_Field_Error_Screen</targetReference>
            </connector>
            <label>Check If Last Cycle Field Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Last_Week_Is_Empty</name>
        <label>Check Last Week Is Empty</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Check_Last_Cycle_Is_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Last_Week_Field_Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PCH_Last_Week_Comments_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PCH_Last_Week_Field</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PCHLastWeekChoice3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PCH_Last_Week_Field_Error_Screen</targetReference>
            </connector>
            <label>Check Last Week Field Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_1_Decision</name>
        <label>Task 1 Decision</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Task_2_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_2_Decision</name>
        <label>Task 2 Decision</label>
        <locationX>314</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>Task_3_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_2_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_2_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_2_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title 2 Is Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Task_3_Decision</name>
        <label>Task 3 Decision</label>
        <locationX>314</locationX>
        <locationY>2726</locationY>
        <defaultConnector>
            <targetReference>Navigate_to_Supervision_Minutes_Detail_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_If_Task_Title_3_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tasks_3_Field</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Assigned_3_Field.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Check If Task Title 3 Is Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Supervision_Minute_Name</name>
        <dataType>String</dataType>
        <expression>{!Supervisor_Field.recordName} + &quot; - &quot; + TEXT(DAY({!Date_Field})) +&quot;/&quot; +TEXT(MONTH({!Date_Field}))+&quot;/&quot; + TEXT(YEAR({!Date_Field}))</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!Tasks_Field}), true, false)</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task_2</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(NOT(ISBLANK({!Tasks_2_Field})), NOT(ISBLANK({!Date_Due_2_Field}))), true, false)</expression>
    </formulas>
    <formulas>
        <name>Will_User_Create_Task_3</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(NOT(ISBLANK({!Tasks_3_Field})), NOT(ISBLANK({!Date_Due_3_Field}))), true, false)</expression>
    </formulas>
    <interviewLabel>Navigate_to_Supervision_Minutes_Detail_Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Supervision Minute</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Supervision_Minutes</name>
        <label>Add Supervision Minutes</label>
        <locationX>314</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>Task_1_Decision</targetReference>
        </connector>
        <inputReference>Supervision</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <connector>
            <targetReference>Task_2_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_1_Error_Message_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Task_3_Decision</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_2_Error_Message_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_2_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_2_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_After_Supervision_Minutes_Creation_0_0_0_0_0_0_0_0_0</name>
        <label>Create Task After Supervision Minutes Creation</label>
        <locationX>50</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Navigate_to_Supervision_Minutes_Detail_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Task_3_Error_Message_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_Due_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Tasks_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_3_Field.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Tasks_3_Field</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Supervision.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Logged_In_User</name>
        <label>Logged In User</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_New_Supervision_Minutes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_New_Supervision_Minutes</name>
        <label>Add New Supervision Minutes</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_Audit_Is_Empty</targetReference>
        </connector>
        <fields>
            <name>Add_New_Supervision_Minutes_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisor_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supervisor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supervisor</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>SupervisorDefault.RecordTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Supervisee_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Supervisee__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Supervisee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Date_Field</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_In_Title</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(120, 0, 108);&quot;&gt;Check in and Values Reflection&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;How are you feeling? Which value resonates with you this week? Have you had any wins or difficulties you&apos;d like to discuss today?&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Field</name>
                    <choiceReferences>CheckInPicklistChoice1</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice2</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice3</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice4</choiceReferences>
                    <choiceReferences>CheckInPicklistChoice5</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Check-in</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Values_Field</name>
                    <choiceReferences>ValuesChoice1</choiceReferences>
                    <choiceReferences>ValuesChoice2</choiceReferences>
                    <choiceReferences>ValuesChoice3</choiceReferences>
                    <choiceReferences>ValuesChoice4</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Values</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Check_in_Discussion_Field</name>
                    <fieldText>Check-in Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Check_in_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Values_Comments_Field</name>
                    <fieldText>Values Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt; The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Values_Comments_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>clinical_caseload_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(120, 0, 108);&quot;&gt;&quot;Frankly I Give a Damn&quot; - Clinical Caseload Serviceability&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Participant Care Hours - Outcomes and Discussion&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_did_I_last_week_text</name>
            <fieldText>&lt;p&gt;&lt;em&gt;How did I go last week?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCH_Last_Week_Field</name>
                    <choiceReferences>PCHLastWeekChoice1</choiceReferences>
                    <choiceReferences>PCHLastWeekChoice2</choiceReferences>
                    <choiceReferences>PCHLastWeekChoice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>My Hours Last Week</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCH_Last_Week_Comments_Field</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!PCH_Last_Week_Comments_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>PCH_Last_Week_Error_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please share your insights on barriers, and the plan moving forward.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>PCH_Last_Week_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PCHLastWeekChoice3</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PCH_Last_Week_Comments_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>How_did_I_last_cycle_text1</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;How did I go last cycle?&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCH_Last_Cycle_Field</name>
                    <choiceReferences>PCHLastCycleChoice1</choiceReferences>
                    <choiceReferences>PCHLastCycleChoice2</choiceReferences>
                    <choiceReferences>PCHLastCycleChoice3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>My Hours Last Cycle</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PCH_Last_Cycle_Comments_Field</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!PCH_Last_Cycle_Comments_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Error_Message</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please share your insights on barriers, and the plan moving forward.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND 2</conditionLogic>
                        <conditions>
                            <leftValueReference>PCH_Last_Cycle_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>PCHLastCycleChoice3</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>PCH_Last_Cycle_Comments_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>diary_mgmt_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Diary Management Discussion&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enough_work_for_next_4_weeks_Field</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is my diary scheduled appropriately for the next 4 weeks?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;em style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Am I providing everyone the service they need and deserve?&lt;/em&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_comments_for_next_4_week_capacity_Field</name>
                    <fieldText>Additional comments for next 4 week capacity</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Additional_comments_for_next_4_week_capacity_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>capacity_mgmt_text</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Capacity Management Discussion&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/n/My_Performance&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;My Caseload&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_my_capacity_up_to_date_and_accurate_Field</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is my capacity up to date and accurate</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;em style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;When will I have room to start supporting new participants?&lt;/em&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Additional_comments_capacity_Field</name>
                    <fieldText>Additional comments capacity</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Additional_comments_capacity_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>capacity_om_url</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/n/My_Participants&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Capacity Template to OM&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HaveIupdatedOMwithclinicianscapacityField</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Does my office manager know when I can start supporting new participants?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/:w:/r/sites/BetterRehab/_layouts/15/Doc.aspx?sourcedoc=%7B95E09307-57C3-4880-B33C-910216DAD408%7D&amp;amp;file=220606%20-%20Capacity%20Template.docx&amp;amp;action=default&amp;amp;mobileredirect=true&amp;amp;cid=f376eb90-6409-4aae-90dc-bf824958636e&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(22, 167, 240);&quot;&gt;&lt;em&gt;Capacity Template to OM (Supervisor)&lt;/em&gt;&lt;/a&gt;&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>love_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(120, 0, 108); font-size: 16px;&quot;&gt;&quot;Love What You Do&quot; - Clinical Work&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/n/My_Participants&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;My Client List&lt;/a&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Audit_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Clinical Audit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ClinicalAuditDefault.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Procedural_Audit_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Procedural_Audit__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Procedural Audit</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ProceduralAuditDefault.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Audit_Discussion_Field</name>
                    <fieldText>Audit Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Audit_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Audit_Error_Message</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;This field should be fill since Audit is linked.&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                        <conditions>
                            <leftValueReference>Audit_Field.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Procedural_Audit_Field.recordId</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Audit_Discussion_Field</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Question_Field</name>
                    <fieldText>Participant and Clinical Questions</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;em&gt;Supervisee should fill this section before the supervision meeting&lt;/em&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Client_Question_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Client_Discussion_Field</name>
                    <fieldText>Participant and Clinical Discussion</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Record supervision discussion during the supervision minute&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Client_Discussion_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>shit_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(120, 0, 108);&quot;&gt;&quot;Get Sh*t Done&quot; &amp;amp; &quot;People People&quot;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Shadowed_sessions_since_last_supervision_Field</name>
                    <fieldText>Shadowed sessions since last supervision</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Shadowed_sessions_since_last_supervision_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Development_Goals_Field</name>
                    <fieldText>Development Goals</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;&lt;em&gt;Ensure goals and any progress are documented&lt;/em&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Development_Goals_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Special_Interest_Group_Supervision_Attendance_Field</name>
                    <fieldText>Special Interest/Group Supervision</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Special_Interest_Group_Supervision_Attendance_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_leave_planning_Field</name>
                    <fieldText>Upcoming leave planning</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Upcoming_leave_planning_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incidents_and_complaints_Field</name>
                    <fieldText>Incidents and complaints</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;The maximum characters allowed is only 32,768.&lt;/em&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF(LEN({!Incidents_and_complaints_Field}) &gt; 32768, false, true)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TaskDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(120, 0, 108); font-size: 16px;&quot;&gt;Create Task(s)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>task_1_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Task 1&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tasks_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Task Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_have_more_tasks_1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you like to create another task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>task_2_text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Task 2&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tasks_2_Field</name>
                    <dataType>String</dataType>
                    <fieldText>Task Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_2_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee2.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_2_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_2_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee2.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_2_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_2_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_have_more_tasks_2</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you like to create another task?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>task_3_text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Task 3&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tasks_3_Field</name>
            <dataType>String</dataType>
            <fieldText>Task Title</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_3_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee3.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_3_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Assigned_3_Default_Field</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Assigned__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Assigned</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Supervision_Minutes__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Assignee3.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Tasks_3_Field</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_New_Supervision_Minutes_Section18_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Due_3_Field</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Due</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_have_more_tasks_2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_New_Supervision_Minutes_Section19</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_New_Supervision_Minutes_Section19_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>policy_url</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/sites/IT/Project/Project Resources/Supervision Minutes/../../../../../:w:/s/PoliciesandProcedures/EcSq6UT1MoVOrXNTxG4jHQEBdKGqKHajG3eQaDEX_SwJUw?e=BI2Dtw&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Supervision Policy and Procedure&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PCH_Audit_Field_Error_Screen</name>
        <label>PCH Audit Field Error Screen</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_Last_Week_Is_Empty</targetReference>
        </connector>
        <fields>
            <name>Audit_Error_Screen_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;Audit Discussion is empty.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;This field should be fill since Audit is linked.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PCH_Last_Cycle_Field_Error_Screen</name>
        <label>PCH Last Cycle Field Error Screen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>PCH_Last_Cycle_Error_Screen_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;PCH Last Cycle Comment is empty.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please share your insights on barriers, and the plan moving forward.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PCH_Last_Week_Field_Error_Screen</name>
        <label>PCH Last Week Field Error Screen</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <connector>
            <targetReference>Check_Last_Cycle_Is_Empty</targetReference>
        </connector>
        <fields>
            <name>PCH_Last_Week_Error_Screen_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;KPI Last Week Comment is empty.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 0, 0);&quot;&gt;Please share your insights on barriers, and the plan moving forward.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_1_Error_Message_0</name>
        <label>Task 1 Error Message</label>
        <locationX>314</locationX>
        <locationY>1886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_New_Supervision_Minutes</targetReference>
        </connector>
        <fields>
            <name>Task_1_Fault_Mesasge_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 1
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_2_Error_Message_0_0</name>
        <label>Task 2 Error Message</label>
        <locationX>314</locationX>
        <locationY>2426</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_New_Supervision_Minutes</targetReference>
        </connector>
        <fields>
            <name>Task_2_Fault_Mesasge_0_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 2 
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_3_Error_Message_0_0</name>
        <label>Task 3 Error Message</label>
        <locationX>314</locationX>
        <locationY>2966</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_New_Supervision_Minutes</targetReference>
        </connector>
        <fields>
            <name>Task_3_Fault_Mesasge_0_0</name>
            <fieldText>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot; style=&quot;text-align: center;&quot;&gt;{!$Flow.FaultMessage} - 3 
&lt;/pre&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Logged_In_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Assignee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Assignee2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Assignee3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>ClinicalAuditDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Audit__c</objectType>
    </variables>
    <variables>
        <name>ProceduralAuditDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinical_Audit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Supervision</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Supervision_Minutes__c</objectType>
    </variables>
    <variables>
        <name>SupervisorDefault</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
