force-app/main/default/flows/Docusign_Service_Agreements.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Record</name>
        <label>Navigate to Record</label>
        <locationX>1328</locationX>
        <locationY>277</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>SendServiceAgreementRecordID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>RECORD</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <dynamicChoiceSets>
        <name>DescriptionSupportPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Description_of_Support__c</picklistField>
        <picklistObject>Send_Service_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FundingCategoryPicklist</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Funding_Category__c</picklistField>
        <picklistObject>Send_Service_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>App__c</picklistField>
        <picklistObject>Send_Service_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TherapySupportPickList</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Therapy_Support__c</picklistField>
        <picklistObject>Send_Service_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Use this for WA therapy supports/rates</description>
        <name>TherapySupportPicklistWA</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Therapy_Support_WA__c</picklistField>
        <picklistObject>Send_Service_Agreement__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Docusign Service Agreements {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Docusign Service Agreements</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Recipient_Sender_Information</name>
        <label>Create_Recipient_Sender_Information</label>
        <locationX>399</locationX>
        <locationY>248</locationY>
        <assignRecordIdToReference>SendServiceAgreementRecordID</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Region_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>Participant.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinician__c</field>
            <value>
                <elementReference>Clinician.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Participant.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <stringValue>NSW</stringValue>
            </value>
        </inputAssignments>
        <object>Send_Service_Agreement__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Region_Information</name>
        <label>Get Region Information</label>
        <locationX>406</locationX>
        <locationY>430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SendServiceAgreementRecordID</elementReference>
            </value>
        </filters>
        <object>Send_Service_Agreement__c</object>
        <outputAssignments>
            <assignToReference>RegionSaved</assignToReference>
            <field>State__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record_with_funding_details</name>
        <label>Update Record with funding details</label>
        <locationX>837</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Navigate_to_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SendServiceAgreementRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AHA_Level_1_Hours__c</field>
            <value>
                <elementReference>AHA_Level_1_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AHA_Level_2_Hours__c</field>
            <value>
                <elementReference>AHA_Level_2_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>App__c</field>
            <value>
                <elementReference>Select_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavioral_Support_Hours__c</field>
            <value>
                <elementReference>Behavioral_Support_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Behavioral_Support_Specialist_Hours__c</field>
            <value>
                <elementReference>Behavioral_Support_Specialist_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Support__c</field>
            <value>
                <elementReference>Description_Support</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exercise_Physiology__c</field>
            <value>
                <elementReference>Exercise_Physiology</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funding_Category__c</field>
            <value>
                <elementReference>Funding_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAmendment__c</field>
            <value>
                <elementReference>Is_this_an_amendment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OT_hours__c</field>
            <value>
                <elementReference>Occupational_Therapy_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Therapy_Hours__c</field>
            <value>
                <elementReference>Other_Therapy_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Physiotherapy_Hours__c</field>
            <value>
                <elementReference>Physiotherapy_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Psychology_Hours__c</field>
            <value>
                <elementReference>Psychology_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speech_Pathology_Hours__c</field>
            <value>
                <elementReference>Speech_Path_Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Therapy_Support_WA__c</field>
            <value>
                <elementReference>TherapySupportWA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Therapy_Support__c</field>
            <value>
                <elementReference>Therapy_Support</elementReference>
            </value>
        </inputAssignments>
        <object>Send_Service_Agreement__c</object>
    </recordUpdates>
    <screens>
        <name>Actions</name>
        <label>Actions</label>
        <locationX>637</locationX>
        <locationY>64</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Record_with_funding_details</targetReference>
        </connector>
        <fields>
            <name>Actions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Therapy_Support</name>
                    <choiceReferences>TherapySupportPickList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Therapy Support</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <helpText>&lt;p&gt;Please use &lt;i&gt;Ctrl &lt;/i&gt;button in your keyboard to select multiple Therapy support&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>WA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>SA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>TAS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Actions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TherapySupportWA</name>
                    <choiceReferences>TherapySupportPicklistWA</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Therapy Support (WA/SA/TAS)</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>WA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>SA</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RegionSaved</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TAS</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Actions_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actions_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Category</name>
                    <choiceReferences>FundingCategoryPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Funding Category</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Actions_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_Support</name>
                    <choiceReferences>DescriptionSupportPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>DescriptionSupportPicklist</elementReference>
                    </defaultValue>
                    <fieldText>Description Support</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Actions_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Actions_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Occupational_Therapy_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Occ Therapy Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Occupational Therapy</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Occupational Therapy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Speech_Path_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Speech Path Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Speech Pathology</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Speech Pathology</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Physiotherapy_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Physiotherapy Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Physiotherapy</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Physiotherapy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Exercise_Physiology</name>
                    <dataType>Number</dataType>
                    <fieldText>Exercise Physiology Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Exercise Physiology</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Exercise Physiology</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Behavioral_Support_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Behavioral Support Standard Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Behavioral Support Standard</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Behavioral Support Standard</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Behavioral_Support_Specialist_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Behavioral Support Specialist Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Behavioral Support Specialist</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Behavioral Support Specialist</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Psychology_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Psychology Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Psychology</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Psychology</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AHA_Level_1_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>AHA Level 1 Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Assistant Level 1</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Assistant Level 1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AHA_Level_2_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>AHA Level 2 Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Assistant Level 2</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Assistant Level 2</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Therapy_Hours</name>
                    <dataType>Number</dataType>
                    <fieldText>Other Therapy Hours</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Therapy_Support</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other Therapy</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>TherapySupportWA</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other Therapy</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Is_this_an_amendment</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is this an amendment?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Select_location</name>
                    <choiceReferences>LocationPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;h3&gt;&lt;strong&gt;How to use Docusign?&lt;/strong&gt;&lt;/h3&gt;&lt;p&gt;Please use this&amp;nbsp;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Knowledge__kav/ka02v000001HLvYAAW/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;article&amp;nbsp;&lt;/a&gt;to know how to use Docusign to send Service Agreements&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Knowledge__kav/ka02v000001HLviAAG/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Docusign FAQs&lt;/a&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recipeint_and_Sender_information</name>
        <label>Recipient and Sender information</label>
        <locationX>189</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Recipient_Sender_Information</targetReference>
        </connector>
        <fields>
            <name>Recipeint_and_Sender_information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Recipeint_and_Sender_information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Participant</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Client__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Participant</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Send_Service_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Recipeint_and_Sender_information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clinician</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Clinician__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Clinician</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Send_Service_Agreement__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>294</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>Recipeint_and_Sender_information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Docusign</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Send_Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>FormattedTherapySupport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RegionSaved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SendServiceAgreement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Send_Service_Agreement__c</objectType>
    </variables>
    <variables>
        <name>SendServiceAgreementRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TherapySupportFiltered</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
