force-app/main/default/flows/Enquiry_After_Creation_Or_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_if_the_Enquirer_Contact_field_is_changed</name>
        <label>Check if the &apos;Enquirer Contact&apos; field is changed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enquirer_Contact_is_Changed_Set</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EnquiryNewOrExisting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_enquiry_record_0</targetReference>
            </connector>
            <label>Enquirer Contact is Changed/Set</label>
        </rules>
    </decisions>
    <description>This is for Enquiry after creation/update. Currently being used to update the &apos;Enquirer Account&apos; field based on the &apos;Enquirer Contact&apos; field.</description>
    <environments>Default</environments>
    <formulas>
        <description>To check whether this enquiry record is newly created or an existing enquiry that is being updated</description>
        <name>EnquiryNewOrExisting</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Enquiry - After Creation Or Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enquiry - After Creation Or Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Fill in the &apos;Enquirer Account&apos;</description>
        <name>Update_enquiry_record_0</name>
        <label>Update &apos;Enquirer Account&apos;</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Enquirer_Account__c</field>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_the_Enquirer_Contact_field_is_changed</targetReference>
        </connector>
        <object>enrtcr__Enquiry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
