force-app/main/default/flows/Get_Compliance_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CM_Contact</name>
        <label>Assign CM Contact</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>ComplianceManagerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ComplianceManagerContact.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CM_User</name>
        <label>Assign CM User</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ComplianceManagerUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Compliance_Manager.enrtcr__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CM_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Trash</name>
        <label>Assign Task Trash</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ComplianceManagerUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0052v00000h1tqbAAA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Result</name>
        <label>Check Result</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_CM_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Compliance_Manager.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Trash</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <description>To be used by any flow to get the compliance manager user and contact records</description>
    <environments>Default</environments>
    <interviewLabel>Get Compliance Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Compliance Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Compliance_Manager</name>
        <label>Get Compliance Manager Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Banding__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Compliance Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Manager</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ComplianceManagerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ComplianceManagerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
