force-app/main/default/flows/Get_State_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_SM_Contact</name>
        <label>Assign SM Contact</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>StateManagerContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SM_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_SM_User</name>
        <label>Assign SM User</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>StateManagerUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SM_Contact_Record.enrtcr__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_SM_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Task_Trash</name>
        <label>Assign to Task Trash</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>StateManagerUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0052v00000h1tqbAAA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_for_SM_Result</name>
        <label>Check for SM Result</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Assign_SM_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Found</defaultConnectorLabel>
        <rules>
            <name>No_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SM_Contact_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Task_Trash</targetReference>
            </connector>
            <label>No Record Found</label>
        </rules>
    </decisions>
    <description>To used by any flow to get the state manager of each state that BR operates in</description>
    <environments>Default</environments>
    <interviewLabel>Get State Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get State Manager</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SM_Contact_Record</name>
        <label>Get SM Contact Record</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_SM_Result</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_State_Manager_Settings.Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_State_Manager_Settings.State_Manager_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_State_Manager_Settings</name>
        <label>Get State Manager Settings</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SM_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>State</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>State_Manager_Setting__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_State_Manager_Settings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NSW</stringValue>
        </value>
    </variables>
    <variables>
        <name>StateManagerContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>StateManagerUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
