force-app/main/default/flows/HSTP_Plan_Confirmation_of_Program_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Referrer</name>
        <label>Send Email to Referrer</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListOfEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Referrer_0</name>
        <label>Send Email to Referrer</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ListOfEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Surgeon</name>
        <label>Send Email to Surgeon</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HST_Plan.Surgeon__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Surgeon_0</name>
        <label>Send Email to Surgeon</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_Referrer_Both</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HST_Plan.Surgeon__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Emails_to_Collection</name>
        <label>Assign Emails to Collection</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.enrtcr__RelatedContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.Other_Related_Contact_1__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.Other_Related_Contact_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.Other_Related_Contact_3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.Other_Related_Contact_4__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer.Other_Related_Contact_5__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Referrer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emails_to_Collection_0</name>
        <label>Assign Emails to Collection</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.enrtcr__RelatedContact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.Other_Related_Contact_1__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.Other_Related_Contact_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.Other_Related_Contact_3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.Other_Related_Contact_4__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListOfEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Referrer_Both.Other_Related_Contact_5__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_Referrer_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Referrer</name>
        <choiceText>Referrer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Referrer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Surgeon</name>
        <choiceText>Surgeon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Surgeon</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Chosen_Recipients</name>
        <label>Chosen Recipients</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Referrer_and_Surgeon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referrer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Surgeon</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Surgeon_0</targetReference>
            </connector>
            <label>If Referrer and Surgeon</label>
        </rules>
        <rules>
            <name>If_Referrer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Referrer</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Referrer</targetReference>
            </connector>
            <label>If Referrer</label>
        </rules>
        <rules>
            <name>If_Surgeon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Surgeon</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Surgeon</targetReference>
            </connector>
            <label>If Surgeon</label>
        </rules>
    </decisions>
    <formulas>
        <name>ApptDate</name>
        <dataType>String</dataType>
        <expression>TEXT( DAY( DATEVALUE({!Scheduled_Initial_Appointment})) )</expression>
    </formulas>
    <formulas>
        <name>ApptDay</name>
        <dataType>String</dataType>
        <expression>CASE(
  MOD( DATEVALUE({!Scheduled_Initial_Appointment}) - DATE( 1900, 1, 7 ), 7 ),
  0, &quot;Sunday&quot;,
  1, &quot;Monday&quot;,
  2, &quot;Tuesday&quot;,
  3, &quot;Wednesday&quot;,
  4, &quot;Thursday&quot;,
  5, &quot;Friday&quot;, 
  &quot;Saturday&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ApptMonth</name>
        <dataType>String</dataType>
        <expression>CASE(
  MONTH( DATEVALUE({!Scheduled_Initial_Appointment})),
  1, &quot;January&quot;,
  2, &quot;February&quot;,
  3, &quot;March&quot;,
  4, &quot;April&quot;,
  5, &quot;May&quot;,
  6, &quot;June&quot;,
  7, &quot;July&quot;,
  8, &quot;August&quot;,
  9, &quot;September&quot;,
  10, &quot;October&quot;,
  11, &quot;November&quot;,
  &quot;December&quot;
)</expression>
    </formulas>
    <formulas>
        <name>ApptYear</name>
        <dataType>String</dataType>
        <expression>TEXT( YEAR( DATEVALUE({!Scheduled_Initial_Appointment})) )</expression>
    </formulas>
    <interviewLabel>HSTP Plan - Send Confiramtion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>HSTP Plan - Confirmation of Program Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_HST_Plan</name>
        <label>Get HST Plan</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Chosen_Recipients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HSTP_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referrer</name>
        <label>Get Referrer</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Emails_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HST_Plan.Client_contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HST Referrer</stringValue>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Client_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referrer_Both</name>
        <label>Get Referrer Both</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Emails_to_Collection_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_HST_Plan.Client_contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HST Referrer</stringValue>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Client_Contact__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Send_Confirmation_of_Program</name>
        <label>Send Confirmation of Program</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Get_HST_Plan</targetReference>
        </connector>
        <fields>
            <name>Title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;This action will send a Confirmation of Program email to the participant&apos;s referrer or surgeon.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Before proceeding, please make sure that the participant&apos;s referrer and surgeon emails are correct.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recipient</name>
            <choiceReferences>Referrer</choiceReferences>
            <choiceReferences>Surgeon</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recipient</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Scheduled_Initial_Appointment</name>
            <dataType>DateTime</dataType>
            <fieldText>Scheduled Initial Appointment</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Confirmation_of_Program</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you for referring &lt;b&gt;{!Get_HST_Plan.Client_contact__r.FirstName} &lt;/b&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_HST_Plan.Client_contact__r.LastName} &lt;/b&gt;&lt;b&gt;(D.O.B {!Get_HST_Plan.Client_contact__r.Birthdate})&lt;/b&gt; with RAPT score {!Get_HST_Plan.RAPT_Score__c} to the Better At Home rehab program provided by Better Rehab.&lt;/p&gt;&lt;p&gt;The initial consultation with the physiotherapist has been scheduled for:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!ApptDay}, {!ApptDate} {!ApptMonth} {!ApptYear} {!Scheduled_Initial_Appointment}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;We will ensure that the appropriate post-operative surgical protocol is adhered to, as well as send through progress reports. Upon completion of the program, a copy of the discharge summary report will be shared with the referring surgeon, GP and private health insurance provider depending on contractual obligations.&amp;nbsp;&lt;/p&gt;&lt;p&gt;For any further questions please do not hesitate to contact us on the supplied information below.&lt;/p&gt;&lt;p&gt;&lt;b&gt;T:&lt;/b&gt; 02 7908 2826, &lt;b&gt;E:&lt;/b&gt; HST@betterrehab.com.au&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://betterrehab--rafdev--c.documentforce.com/sfc/servlet.shepherd/version/download/068Bm0000000IeT?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Get_HST_Plan.Client_contact__r.FirstName} {!Get_HST_Plan.Client_contact__r.LastName} - Confirmation of Program - Better At Home</text>
    </textTemplates>
    <variables>
        <name>ListOfEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
