force-app/main/default/flows/Inactive_Survey_for_HST_clients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>Add client-clinician</description>
    <interviewLabel>Pendula - Inactive Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inactive Survey for HST clients</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_an_Inactive_Feedback_Survey</name>
        <label>Create an Inactive Feedback Survey</label>
        <locationX>853</locationX>
        <locationY>189</locationY>
        <inputAssignments>
            <field>Recipient__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Inactive_Survey_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Site__c</field>
            <value>
                <elementReference>Client_Clinician.Clinician__r.enrtcr__Site__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker__c</field>
            <value>
                <elementReference>Client_Clinician.Clinician__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Feedback_Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Client_Clinician</name>
        <label>Client Clinician</label>
        <locationX>489</locationX>
        <locationY>415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inactive_Survey_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinician_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Staff_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_Survey_Record_ID</name>
        <label>Get Inactive Survey Record ID</label>
        <locationX>723</locationX>
        <locationY>412</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_an_Inactive_Feedback_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive_Client_Survey</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Feedback_Survey__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Client_Clinician</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND 4 AND (3 OR 5)</filterLogic>
        <filters>
            <field>Client_Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HSTP</stringValue>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Inactive</stringValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Goals Achieved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pendula_Survey_Opt_Out__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Inactive_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discontinued</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
