force-app/main/default/flows/Incident_Complaint_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notif_CM_Complaint</name>
        <label>Email Notif CM - Complaint</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <actionName>Task.New_Task_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_for_CM_Complaint</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Notif_CM_Incident</name>
        <label>Email Notif CM - Incident</label>
        <locationX>1370</locationX>
        <locationY>1175</locationY>
        <actionName>Task.New_Task_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_for_CM_Incident</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Notif_SM_Complaint</name>
        <label>Email Notif SM - Complaint</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>Task.New_Task_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_for_SM_Complaint</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Notif_SM_Incident</name>
        <label>Email Notif SM - Incident</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <actionName>Task.New_Task_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_CM_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Task_for_SM_Incident</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_Type_of_Record</name>
        <label>Check for Type of Record</label>
        <locationX>1436</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Better_Rehab_Complaint_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_the_complaint_needs_escalation</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Better_Rehab_Incident_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_Incident_reportable_to_NDIS</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_the_complaint_needs_escalation</name>
        <label>Does the complaint needs escalation?</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Require_Further_Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escalation_to_Who</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Require_Further_Escalation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Escalation_to_Who</name>
        <label>Escalation to Who?</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>State_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Complaint_escalated_to_who__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_Manager</targetReference>
            </connector>
            <label>State Manager</label>
        </rules>
        <rules>
            <name>Compliance_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Complaint_escalated_to_who__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliance Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CM</targetReference>
            </connector>
            <label>Compliance Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_Incident_reportable_to_NDIS</name>
        <label>Is the Incident reportable to NDIS?</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_the_incident_reportable_to_NDIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_Manager_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_the_incident_reportable_to_NDIS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>No</label>
        </rules>
    </decisions>
    <description>Add task email notification</description>
    <environments>Default</environments>
    <formulas>
        <name>ComplaintEscalationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associated_Clincian__r.FirstName} + &quot; &quot; + {!$Record.Associated_Clincian__r.LastName} + &quot; lodged a complaint. Please investigate and manage as required, within 24 hours. Once completed please enter your name on the &apos;Actioned By (3)&apos; field on the form to acknowledge that the complaint has been investigated by you.&quot;</expression>
    </formulas>
    <formulas>
        <name>IncidentEscalationBody</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associated_Clincian__r.FirstName} + &quot; &quot; + {!$Record.Associated_Clincian__r.LastName} + &quot; lodged a high risk incident. Please investigate and manage as required, within 24 hours. Once completed please enter your name on the &apos;Actioned By (3)&apos; field on the form to acknowledge that the complaint has been investigated by you.&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate} + 1</expression>
    </formulas>
    <interviewLabel>Incident/Complaint - After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident/Complaint - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_for_CM_Complaint</name>
        <label>Task for CM - Complaint</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Email_Notif_CM_Complaint</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ComplaintEscalationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CM.ComplianceManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A Complaint Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_CM_Incident</name>
        <label>Task for CM - Incident</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Email_Notif_CM_Incident</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IncidentEscalationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CM_0.ComplianceManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A Reportable Incident Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_SM_Complaint</name>
        <label>Task for SM - Complaint</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Email_Notif_SM_Complaint</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ComplaintEscalationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_State_Manager.StateManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A Complaint Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_SM_Incident</name>
        <label>Task for SM - Incident</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Email_Notif_SM_Incident</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IncidentEscalationBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_State_Manager_0.StateManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A Reportable Incident Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>1310</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Type_of_Record</targetReference>
        </connector>
        <object>enrtcr__Incident_Management__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_CM</name>
        <label>Get CM</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Task_for_CM_Complaint</targetReference>
        </connector>
        <flowName>Get_Compliance_Manager</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_CM_0</name>
        <label>Get CM</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Task_for_CM_Incident</targetReference>
        </connector>
        <flowName>Get_Compliance_Manager</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_State_Manager</name>
        <label>Get State Manager</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Task_for_SM_Complaint</targetReference>
        </connector>
        <flowName>Get_State_Manager</flowName>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_State_Manager_0</name>
        <label>Get State Manager</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Task_for_SM_Incident</targetReference>
        </connector>
        <flowName>Get_State_Manager</flowName>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
