force-app/main/default/flows/Incident_Complaint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_to_Site_Supervisor</name>
        <label>Notification to Site Supervisor</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Task_for_RM_Complaint</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ComplaintNotificationSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.Clinical_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Supervisee Lodged A Complaint</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Site_Supervisor_0</name>
        <label>Notification to Site Supervisor</label>
        <locationX>534</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Task_for_RM_Incident</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>IncidentNotificationSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.Clinical_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Supervisee Lodged An Incident</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Supervisor</name>
        <label>Notification to Supervisor</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Copy_1_of_Check_for_Site_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ComplaintNotificationSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Supervisee Lodged A Complaint</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notification_to_Supervisor_0</name>
        <label>Notification to Supervisor</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_for_Site_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>IncidentNotificationSupervisor</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Supervisee Lodged An Incident</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_DK</name>
        <label>Send email to DK</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_HR_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>There is a new WHS Incident lodged</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_David_Klimek_s_User_ID.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New WHS Incident Lodged</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_HR_Manager</name>
        <label>Send Email to HR Manager</label>
        <locationX>490</locationX>
        <locationY>1511</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_State_Manager</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WHSIncidentEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_HR_Manager.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New WHS Incident Lodged</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Check_for_Site_Supervisor</name>
        <label>Check for Site Supervisor</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Task_for_RM_Incident</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Clincian__r.Clinical_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_Site_Supervisor_0</targetReference>
            </connector>
            <label>SS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Type_of_Incident_Complaint</name>
        <label>Check for Type of Incident/Complaint</label>
        <locationX>952</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Better_Rehab_Complaint_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_Supervisor</targetReference>
            </connector>
            <label>Complaint</label>
        </rules>
        <rules>
            <name>Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Better_Rehab_Incident_Form</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_Supervisor_0</targetReference>
            </connector>
            <label>Incident</label>
        </rules>
        <rules>
            <name>COVID_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COVID_Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Supervisor_COVID</targetReference>
            </connector>
            <label>COVID Incident</label>
        </rules>
        <rules>
            <name>Compliment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Compliments</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_for_Supervisor_Compliment</targetReference>
            </connector>
            <label>Compliment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Incident_Risk_Rating</name>
        <label>Check Incident Risk Rating</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>High_or_Extreme</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Risk_Rating__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extreme</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_State_Manager</targetReference>
            </connector>
            <label>High or Extreme</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_for_Site_Supervisor</name>
        <label>Check for Site Supervisor</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Task_for_RM_Complaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SS_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Associated_Clincian__r.Clinical_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notification_to_Site_Supervisor</targetReference>
            </connector>
            <label>SS Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_type_of_incident_is_this</name>
        <label>What type of incident is this?</label>
        <locationX>666</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Check_Incident_Risk_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WHS_Incident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incident_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WHS Incident</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_David_Klimek_s_User_ID</targetReference>
            </connector>
            <label>WHS Incident</label>
        </rules>
    </decisions>
    <description>Add flow for WHS incident</description>
    <environments>Default</environments>
    <formulas>
        <name>ComplaintTaskBodyRM</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associated_Clincian__r.FirstName} + &quot; &quot; + {!$Record.Associated_Clincian__r.LastName} + &quot; lodged a complaint. Please review and manage as required, within 24 hours. Once completed please enter your name on the &apos;Actioned By (2)&apos; field on the form to acknowledge that the complaint has been reviewed by you.&quot;</expression>
    </formulas>
    <formulas>
        <name>IncidentTaskBodyRM</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associated_Clincian__r.FirstName}  + &quot; &quot; +  {!$Record.Associated_Clincian__r.LastName} + &quot; lodged an incident. Please review and manage as required, within 24 hours. Once completed please enter your name on the &apos;Actioned By (2)&apos; field on the form to acknowledge that the complaint has been reviewed by you.&quot;</expression>
    </formulas>
    <formulas>
        <name>IncidentTaskBodySMCM</name>
        <dataType>String</dataType>
        <expression>{!$Record.Associated_Clincian__r.FirstName}  + &quot; &quot; +  {!$Record.Associated_Clincian__r.LastName} + &quot; lodged a high risk incident. Please investigate and manage as require, within 24 hours. Once completed please enter your name on the &apos;Actioned By (3)&apos; field on the form to acknowledge that the complaint has been investigated by you.&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate1DayAfter</name>
        <dataType>Date</dataType>
        <expression>IF((WEEKDAY({!$Flow.CurrentDate} + 1) = 1), {!$Flow.CurrentDate} + 2, 
IF((WEEKDAY({!$Flow.CurrentDate} + 1)= 7), {!$Flow.CurrentDate} + 3, 
{!$Flow.CurrentDate} + 1)
)</expression>
    </formulas>
    <formulas>
        <name>TaskDueDate2DaysAfter</name>
        <dataType>Date</dataType>
        <expression>IF((WEEKDAY({!$Flow.CurrentDate} + 2) = 1), {!$Flow.CurrentDate} + 3, 
IF((WEEKDAY({!$Flow.CurrentDate} + 2)= 7), {!$Flow.CurrentDate} + 4, 
{!$Flow.CurrentDate} + 2)
)</expression>
    </formulas>
    <interviewLabel>Incident/Complaint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Incident/Complaint - Upon Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Task_for_CM_COVID</name>
        <label>Task for CM - COVID</label>
        <locationX>1194</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Task_for_Ops_Manager_COVID</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate2DaysAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CM.ComplianceManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review New COVID Incident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Compliance_Manager_CM_Incident</name>
        <label>Task for Compliance Manager (CM) - Incident</label>
        <locationX>666</locationX>
        <locationY>2087</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IncidentTaskBodySMCM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_CM_0.ComplianceManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A High Incident Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Task for DK</description>
        <name>Task_for_Ops_Manager_COVID</name>
        <label>Task for Ops Manager - COVID</label>
        <locationX>1194</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate2DaysAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000fParxAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review New COVID Incident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_RM_Complaint</name>
        <label>Task for RM - Complaint</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ComplaintTaskBodyRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.Regional_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A Complaint Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_RM_COVID</name>
        <label>Task for RM - COVID</label>
        <locationX>1194</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_CM</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.Regional_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review New COVID Incident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_RM_Incident</name>
        <label>Task for RM - Incident</label>
        <locationX>666</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>What_type_of_incident_is_this</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IncidentTaskBodyRM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.Regional_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - An Incident Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_SM_Incident</name>
        <label>Task for SM - Incident</label>
        <locationX>666</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Get_CM_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>IncidentTaskBodySMCM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_State_Manager.StateManagerUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>[ACTION REQUIRED] - A High Incident Has Been Lodged</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Supervisor_Compliment</name>
        <label>Task for Supervisor - Compliment</label>
        <locationX>1458</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate2DaysAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Compliment_To__r.Direct_Supervisor__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow Up on New Compliment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Task_for_Supervisor_COVID</name>
        <label>Task for Supervisor - COVID</label>
        <locationX>1194</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Task_for_RM_COVID</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TaskDueDate1DayAfter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Associated_Clincian__r.Direct_Supervisor__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Review New COVID Incident</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_David_Klimek_s_User_ID</name>
        <label>Get David Klimek&apos;s User ID</label>
        <locationX>490</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_DK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Klimek</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_HR_Manager</name>
        <label>Get HR Manager</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_HR_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Banding__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Human Resources Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>826</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_for_Type_of_Incident_Complaint</targetReference>
        </connector>
        <object>enrtcr__Incident_Management__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_CM</name>
        <label>Get CM</label>
        <locationX>1194</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Task_for_CM_COVID</targetReference>
        </connector>
        <flowName>Get_Compliance_Manager</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_CM_0</name>
        <label>Get CM</label>
        <locationX>666</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Task_for_Compliance_Manager_CM_Incident</targetReference>
        </connector>
        <flowName>Get_Compliance_Manager</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_State_Manager</name>
        <label>Get State Manager</label>
        <locationX>666</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Task_for_SM_Incident</targetReference>
        </connector>
        <flowName>Get_State_Manager</flowName>
        <inputAssignments>
            <name>State</name>
            <value>
                <elementReference>$Record.Associated_Clincian__r.enrtcr__Site__r.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ComplaintNotificationSupervisor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your direct report, {!$Record.Associated_Clincian__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Associated_Clincian__r.LastName} has logged a complaint. No further action is required at this time. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿For your reference, you can find the details here: &lt;/span&gt;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Incident_Management__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>IncidentNotificationSupervisor</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your direct report, {!$Record.Associated_Clincian__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Associated_Clincian__r.LastName} has logged an incident. No further action is required at this time. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;﻿For your reference, you can find the details here: &lt;/span&gt;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Incident_Management__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>WHSIncidentEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Record.Associated_Clincian__r.FirstName}&amp;nbsp;{!$Record.Associated_Clincian__r.LastName} lodged a WHS incident. Please investigate and manage as required, within 24 hours.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>TaskObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
