force-app/main/default/flows/IT_Help_Assignment_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_the_Assign_To_recipient</name>
        <label>Send email to the Assign To recipient</label>
        <locationX>602</locationX>
        <locationY>364</locationY>
        <actionName>Tickets__c.Email_Alert_for_IT_Ticket_Assignment</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_if_the_assigned_to_is_the_current_user_or_not</name>
        <label>Check if the assigned to is the current user or not</label>
        <locationX>168</locationX>
        <locationY>358</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Assigned_To_is_Not_Current_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.enrtcr__User__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_the_Assign_To_recipient</targetReference>
            </connector>
            <label>If Assigned To is Not Current User</label>
        </rules>
    </decisions>
    <description>Send email when an IT ticket is assigned to someone</description>
    <interviewLabel>IT Help Assignment Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Help Assignment Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_if_the_assigned_to_is_the_current_user_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_To__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Tickets__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
