force-app/main/default/flows/IT_Help_Tracker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assigned_Status</name>
        <label>Assigned_Status</label>
        <locationX>456</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Assigned</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Open_Status</name>
        <label>Open_Status</label>
        <locationX>54</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priority_Status</name>
        <label>Priority_Status</label>
        <locationX>606</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Priority Change</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Progress_Status</name>
        <label>Progress_Status</label>
        <locationX>163</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Resolved_Status</name>
        <label>Resolved_Status</label>
        <locationX>254</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Resolved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Waiting_Status</name>
        <label>Waiting_Status</label>
        <locationX>350</locationX>
        <locationY>486</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_track_object</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check_Status</label>
        <locationX>245</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Open_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Open ticket</label>
        </rules>
        <rules>
            <name>Progress_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Progress_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Progress ticket</label>
        </rules>
        <rules>
            <name>Waiting_Ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Waiting_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting Ticket</label>
        </rules>
        <rules>
            <name>Close_ticket</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resolved_Status</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Close ticket</label>
        </rules>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_To__r.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assigned_Status</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
        <rules>
            <name>Priority_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priority_Status</targetReference>
            </connector>
            <label>Priority_Change</label>
        </rules>
    </decisions>
    <interviewLabel>IT Help Tracker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IT Help Tracker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_track_object</name>
        <label>Create track object</label>
        <locationX>239</locationX>
        <locationY>681</locationY>
        <inputAssignments>
            <field>Assigned__c</field>
            <value>
                <elementReference>$Record.Assigned_To__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IT_Help__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Modified_By__c</field>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Help_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>127</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <object>Tickets__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
