force-app/main/default/flows/Offboarding_Upon_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email about instructions on how to reset their IT assets.</description>
        <name>Email_to_Offboarder</name>
        <label>Email to Offboarder</label>
        <locationX>402</locationX>
        <locationY>864</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_OM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForOffboarder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[IMPORTANT] Returning Your IT Assets</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Admin_TL</name>
        <label>Send Email to Admin TL</label>
        <locationX>402</locationX>
        <locationY>1344</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyToAdminTL</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Admin_TL_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectAdminTL</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Supervisor</name>
        <label>Send Email to Direct Supervisor</label>
        <locationX>402</locationX>
        <locationY>1104</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Get_hub_office_s_OM_name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[IMPORTANT] Collect IT Assets from Your Supervisee</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_HR</name>
        <label>Send Email to HR</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Offboarding__c.HR_New_Offboarder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_to_L_D</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_IT</name>
        <label>Send Email to IT</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_HR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyToIT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>OBsquad@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new offboarding has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_L_D</name>
        <label>Send Email to L&amp;D</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <actionName>Offboarding__c.L_D_New_Offboarder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_OM</name>
        <label>Send Email to OM</label>
        <locationX>402</locationX>
        <locationY>984</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_Direct_Supervisor</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyForOM</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Site__r.Office_Admin__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[IMPORTANT] Collect IT Assets from An Offboarder</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Increase_Asset_Count_by_1</name>
        <label>Increase Asset Count by 1</label>
        <locationX>490</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>AssetCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Assets</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_offboarder_from_NZ_or_Philippines</name>
        <label>Is the offboarder from NZ or Philippines?</label>
        <locationX>534</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Auckland</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phillippines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetITAssets</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>All emails that will be sent when an offboarding is created</description>
    <environments>Default</environments>
    <interviewLabel>Offboarding - Upon Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offboarding - Upon Creation</label>
    <loops>
        <description>Process each IT asset and assign each asset to a variable</description>
        <name>Loop_through_Assets</name>
        <label>Loop through IT Assets</label>
        <locationX>402</locationX>
        <locationY>528</locationY>
        <collectionReference>GetAssetInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Asset_Count_by_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_to_Offboarder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_hub_office_s_OM_name</name>
        <label>Get hub office&apos;s OM name</label>
        <locationX>402</locationX>
        <locationY>1224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_Admin_TL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Hub_Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetITAssets</name>
        <label>Get IT Assets</label>
        <locationX>402</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Assets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.User__r.Id</elementReference>
            </value>
        </filters>
        <object>IT_Asset__c</object>
        <outputReference>GetAssetInfo</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Brand__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Model__c</queriedFields>
        <queriedFields>Assigned_To__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_IT</targetReference>
        </connector>
        <object>Offboarding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_Before_Exit_Date</name>
            <connector>
                <targetReference>Is_the_offboarder_from_NZ_or_Philippines</targetReference>
            </connector>
            <label>1 Day Before Exit Date</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Exit_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyForDS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Direct_Supervisor__r.FirstName}!&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please note that today is {!$Record.First_Name__c}&apos;s last working day.&amp;nbsp;If the Office Manager has not collected the IT assets, you are expected to collect the below IT assets and hand it over to your Office Manager. Also please make sure the Office Manager changes the &lt;strong&gt;Last Updated Status&lt;/strong&gt; of the device in Lumary.&lt;/p&gt;&lt;p&gt;Name: {!$Record.First_Name__c}&lt;/p&gt;&lt;p&gt;Email address: {!$Record.Email__c}&lt;/p&gt;&lt;p&gt;Exit date: {!$Record.Exit_Date__c}&lt;/p&gt;&lt;p&gt;Number of Assets assigned: {!AssetCount}&lt;/p&gt;&lt;p&gt;Link to IT assets: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/User/{!$Record.User__c}/related/IT_Assets__r/view&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(231, 11, 11);&quot;&gt;Please contact IT immediately if the assets are not handed over to the Office Manager or yourself.&amp;nbsp;&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Important notes :&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;1.	Please return the assets to your office manager as soon as possible&lt;/p&gt;&lt;p&gt;2.	Let IT know immediately if you notice any physical damage to these devices.&lt;/p&gt;&lt;p&gt;3.	Make sure the iPhone is signed out of the iCloud account and factory reset.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;4.	Please do not write the passwords/PIN anywhere on the laptop/packaging.&lt;/p&gt;&lt;p&gt;5.	Do not forget to collect the laptop charger.&amp;nbsp;&lt;/p&gt;&lt;p&gt;If you need any further assistance, please contact it@betterrehab.com.au.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab IT&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForOffboarder</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Hi {!$Record.First_Name__c}!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;We heard tomorrow is your last day with Better Rehab. While we’re sad to see you leave, we’re happy and excited for your next move. Please read this email carefully for instructions on how to return your IT equipment.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(115, 3, 127); font-size: 22px;&quot;&gt;Assets to Be Returned&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;Please find the below IT assets that are assigned under your name and return these assets to your&lt;/span&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Office manager or direct supervisor.&amp;nbsp;Please be informed that if the device is not returned, your final settlements may be delayed.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Number of assets assigned: {!AssetCount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Link to your list of assets: &lt;/span&gt;&lt;em style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/User/{!$Record.User__c}/related/IT_Assets__r/view&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Please contact IT immediately if you do not possess the above-mentioned asset at&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:it@betterrehab.com.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(63, 216, 237); font-size: 12pt;&quot;&gt;it@betterrehab.com.au&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; color: rgb(115, 3, 127); background-color: rgb(255, 255, 255);&quot;&gt;How to Return Your IT Assets&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Here’s a guide to help you prepare your devices to be returned to IT:&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(35, 198, 231); font-size: 20px;&quot;&gt;Phones/iPad&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;Please follow the steps below&amp;nbsp;to factory reset your iPhone/iPad. This will&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;remove all data&lt;/strong&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;&amp;nbsp;from the phone. Please get in touch with IT if you wish to save any data before proceeding.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Sign-out of iCloud account.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Go to Settings, click on your name displayed on the top of the screen.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Scroll all the way down and click sign-out, it might prompt you with the password, please proceed with the positive responses.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Factory Reset&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Go to Settings, Click on General.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Scroll all the way to the bottom &amp;gt;&amp;nbsp;Click Reset&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;Click Reset All Content and Settings, It might prompt you for your Pin and please confirm.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 16px; color: rgb(117, 117, 117);&quot;&gt;This will take about 5-10 mins.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(35, 198, 231); background-color: rgb(255, 255, 255);&quot;&gt;Laptop&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;Please ensure you&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;erase all the personal data&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;from your laptop. Better Rehab is&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;not liable&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;for the&amp;nbsp;loss of any personal data stored on the laptop.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;Upload all files/folders to Sharepoint to ensure a smooth handover.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;Setup&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;auto-forwarding&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;on your mail box to appropriate people to ensure all email communications after your exit reaches the right people or team.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;Please&lt;/span&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;take pictures&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;of any physical damages to the laptop if any and send them to &lt;/span&gt;&lt;a href=&quot;mailto:IT@betterrehab.com.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;IT@betterrehab.com.au&lt;/a&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;.&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;strong style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;DO NOT&lt;/strong&gt;&lt;span style=&quot;font-size: 12pt; color: rgb(117, 117, 117);&quot;&gt;&amp;nbsp;leave sticky notes with your laptop PIN or passwords under any circumstances.&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Please do not forget to return your laptop charger.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(35, 198, 231); font-size: 20px; background-color: rgb(255, 255, 255);&quot;&gt;Handover&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Please handover your devices to your&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;Office Manager / Direct Supervisor&lt;/strong&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 12pt;&quot;&gt;&amp;nbsp;after completing above steps.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(117, 117, 117); font-size: 16px;&quot;&gt;Better Rehab IT&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyForOM</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Site__r.Office_Admin__r.FirstName},&lt;/p&gt;&lt;p&gt;{!$Record.First_Name__c} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Last_Name__c} is getting offboarded &lt;/span&gt;from {!$Record.Site__r.Name} tomorrow. Please collect the following devices.&lt;/p&gt;&lt;p&gt;Full Name : &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Exit Date : {!$Record.Exit_Date__c}&lt;/p&gt;&lt;p&gt;Number of Assets assigned: {!AssetCount}&lt;/p&gt;&lt;p&gt;Link to Assets: https://betterrehab.lightning.force.com/lightning/r/User/{!$Record.User__c}/related/IT_Assets__r/view&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Device Collection Information:&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;On receiving and verifying the devices, please click on the above links and change the Last Updated status field from “Device In use” to “Received By OM”. Please note that the exiting employee’s final settlements will be cleared only after the Last updated device status is changed as mentioned above.&lt;/li&gt;&lt;li&gt;Let IT know immediately if you notice any physical damage to these devices.&lt;/li&gt;&lt;li&gt;Make sure the iPhone is signed out of the iCloud account and factory reset.&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Please do not write the passwords/PIN anywhere on the laptop/packaging.&lt;/li&gt;&lt;li&gt;Do not forget to collect the laptop charger.&amp;nbsp;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;strong&gt;Shipping Information: &lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Arrange the device to be sent to your Hub office by handing it over to Admin Team lead or State Manager or Regional Manager (VIC: Mulgrave, QLD: Stones Corner, NSW: Support Office, WA: Cockburn).&lt;/li&gt;&lt;li&gt;Please secure the device in a cardboard box to avoid any damages during transit.&amp;nbsp;&amp;nbsp;&lt;/li&gt;&lt;li&gt;Once the device is handed-over, please change the &lt;u&gt;Last Updated Status&lt;/u&gt; field from &lt;strong&gt;“Received by OM”&lt;/strong&gt;:&lt;ol&gt;&lt;li&gt;If you are in QLD, VIC, and WA, to &lt;strong&gt;“Shipped to Hub Office”&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;If you are in NSW, to &lt;strong&gt;“Shipped to Support Office&quot;&lt;/strong&gt;&lt;/li&gt;&lt;/ol&gt;&lt;/li&gt;&lt;li&gt;Do not use Toll or any other courier services to send this to your Hub Office.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab IT&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToAdminTL</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;{!$Record.First_Name__c} {!$Record.Last_Name__c} from the {!$Record.Site__r.Name} office will be getting offboarded tomorrow. Please make sure you collect their IT assets on your next visit to this office.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Device collection information:&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Upon collection, please make sure {!$Record.Site__r.Office_Admin__r.FirstName} has updated &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.First_Name__c}&lt;/span&gt;&apos;s IT asset &lt;u&gt;Last Updated Status&lt;/u&gt; from &lt;strong&gt;“Received by OM”&lt;/strong&gt; to &lt;strong&gt;“Shipped to Hub Office”&lt;/strong&gt;, in the IT asset record page in Lumary.&lt;/li&gt;&lt;li&gt;Collect additional assets from this office. You can check this &lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000K3gBEAS/view?queryScope=userFolders&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;report&lt;/a&gt; for the list of assets to be collected.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;strong&gt;Shipping information:&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Please drop these devices in your state’s hub office (VIC : Mulgrave, QLD : Stones Corner , NSW : Support Office, WA : Cockburn).&lt;/li&gt;&lt;li&gt;Make sure {!Get_hub_office_s_OM_name.Office_Admin__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_hub_office_s_OM_name.Office_Admin__r.LastName} will update &lt;/span&gt;the &lt;u style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Last Updated Status&lt;/u&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; field from&lt;/span&gt; &lt;strong&gt;“Shipped to Hub Office”&lt;/strong&gt;&amp;nbsp;to &lt;strong&gt;“Received at Hub Office”&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;, in the IT asset record page in Lumary.&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab IT&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToIT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi team,&lt;/p&gt;&lt;p&gt;A new offboarding has been created. &lt;/p&gt;&lt;p&gt;Please see the details in the link here: https://betterrehab.lightning.force.com/lightning/r/Offboarding__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectAdminTL</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>[IMPORTANT] Collect IT Assets from {!$Record.Site__r.Name}</text>
    </textTemplates>
    <variables>
        <name>AssetCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GetAssetInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IT_Asset__c</objectType>
    </variables>
</Flow>
