force-app/main/default/flows/Offboarding_Email_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_HR</name>
        <label>Send Email to HR</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <actionName>Offboarding__c.HR_New_Offboarder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Email_to_L_D</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_L_D</name>
        <label>Send Email to L&amp;D</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Offboarding__c.L_D_New_Offboarder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Email_Address</name>
        <label>Add Email Address</label>
        <locationX>490</locationX>
        <locationY>528</locationY>
        <assignmentItems>
            <assignToReference>EmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Offboarding Email Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offboarding Email Process</label>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Contacts</label>
        <locationX>402</locationX>
        <locationY>408</locationY>
        <collectionReference>Get_All_Recipients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Email_Address</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Recipients</name>
        <label>Get All Recipients</label>
        <locationX>402</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Site__r.Office_Admin__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Offboarding_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Direct_Supervisor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_HR</targetReference>
        </connector>
        <object>Offboarding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X1_Hour_Before_Exit_Date</name>
            <connector>
                <targetReference>Get_All_Recipients</targetReference>
            </connector>
            <label>1 Hour Before Exit Date</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Exit_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>EmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
