force-app/main/default/flows/Offboarding_Pending_Shipping_Reminder_to_OM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_OM_Email</name>
        <label>Send OM Email</label>
        <locationX>800</locationX>
        <locationY>816</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_email_to_each_OM</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OfficeManagerReminderITAssetEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OMemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[IMPORTANT] Returning IT Assets</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_OM_Email_0</name>
        <label>Send OM Email</label>
        <locationX>1006</locationX>
        <locationY>873</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>OfficeManagerReminderITAssetEmailTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>OMemailaddress</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>[IMPORTANT] Returning IT Assets</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>emailaddress</name>
        <label>emailaddress</label>
        <locationX>526</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>OMemailaddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Send_email_to_each_OM.Office_Admin__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_OM_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Nathan Mananui helps out with Inglewood IT shipments</description>
        <name>emailaddress_0</name>
        <label>assign nathan m to email address</label>
        <locationX>987</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>OMemailaddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>nathan.m@betterrehab.com.au</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_OM_Email_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Checking</name>
        <label>Error Checking</label>
        <locationX>608</locationX>
        <locationY>657</locationY>
        <assignmentItems>
            <assignToReference>Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>emailaddress</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Offboarding Pending Shipping Reminder to OM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offboarding Pending Shipping Reminder to OM</label>
    <loops>
        <name>Send_email_to_each_OM</name>
        <label>Send email to each OM</label>
        <locationX>776</locationX>
        <locationY>556</locationY>
        <collectionReference>OfficeManagerSites</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Error_Checking</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>emailaddress_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_office_manager_emails</name>
        <label>Get office manager emails</label>
        <locationX>526</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_email_to_each_OM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Office_Admin__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0052v00000h1tqbAAA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Office_Admin__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0052v00000h3Ep3AAE</stringValue>
            </value>
        </filters>
        <object>enrtcr__Site__c</object>
        <outputReference>OfficeManagerSites</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Office_Admin__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_office_manager_emails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>sendReminderOM__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IT_Asset__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>OfficeManagerReminderITAssetEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Send_email_to_each_OM.Office_Admin__r.FirstName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a reminder email to send any offboarded IT Assets back to the Support Office. &lt;/p&gt;&lt;p&gt;You are requested to ship back all the offboarded laptops and Phones to Support office on the &lt;b&gt;last Friday of every month. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;Please refer this report to see which assets are pending from your sites - &lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/r/Report/00O8u000000Jl3aEAC/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Offboarder IT Assets | Salesforce&lt;/a&gt;. Ignore this email if you do not have any offboarded devices to be shipped back to Support office. &lt;/p&gt;&lt;p&gt;Please email &lt;a href=&quot;https://betterrehab.lightning.force.com/builder_platform_interaction/it@betterrehab.com.au&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;it@betterrehab.com.au&lt;/a&gt; when you have shipped the devices or if there are any delays with shipping these assets back to support office.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>emailaddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OfficeManagerSites</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>enrtcr__Site__c</objectType>
    </variables>
    <variables>
        <name>OMemailaddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
