force-app/main/default/flows/Onboarding_Upon_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Admin</name>
        <label>Send Email to Admin</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_HR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>AdminBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Site__r.Office_Admin__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A New Onboarding</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_HR</name>
        <label>Send Email to HR</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_Talent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>HREmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>hr@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_IT</name>
        <label>Send Email to IT</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Email_to_Admin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyToIT</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>OBsquad@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new onboarding has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Talent</name>
        <label>Send Email to Talent</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TalentEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>myfuture@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Talent New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FourWeeksBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 28</expression>
    </formulas>
    <formulas>
        <name>OneWeekBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>SixWeeksAfter</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} + 42</expression>
    </formulas>
    <formulas>
        <name>ThreeWeeksBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 21</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksBefore</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 14</expression>
    </formulas>
    <interviewLabel>Onboarding - Upon Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - Upon Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_to_IT</targetReference>
        </connector>
        <object>Onboarding__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AdminBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Site__r.Office_Admin__r.FirstName},&lt;/p&gt;&lt;p&gt;You have a new starter, {!$Record.First_Name__c} {!$Record.Last_Name__c} - {!$Record.Department__c} starting on {!$Record.Start_Date__c} at {!$Record.Site__r.Name}.&lt;/p&gt;&lt;p&gt;Please complete the following list of tasks:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Order welcome gift, equipment &amp;amp; resources - &lt;strong&gt;due on {!FourWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Build caseload in accordance with discipline specific ramp up schedule. First initial to be booked on Day 3 with Supervisor - &lt;strong&gt;due on {!ThreeWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Add to capacity tracker - &lt;strong&gt;due on {!TwoWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Schedule welcome breakfast (Tuesday Week 2 of cycle)&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; - &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;due on {!TwoWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Add to team meeting in Lumary session&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; - &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;due on {!TwoWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Set up new starter desk - &lt;strong&gt;due on {!OneWeekBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Site induction (WHS walk through). &lt;em&gt;Note: If and office Manager is not at a specific site, the OM is to coordinate site induction through the site Team Leader or an AHA&lt;/em&gt;&amp;nbsp;&lt;strong&gt;- due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Complete Headshots and provide codes&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;- due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Accept PRODA request (admin team lead only)&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;- due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Note: If Team Leader is not at a specific site, the onsite induction will sit with the Office Manager of that site&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;- due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToIT</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi team,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new onboarding has been created. Click here to see the details: https://betterrehab.lightning.force.com/lightning/r/Onboarding__c/{!$Record.Id}/view&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>HREmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi P&amp;amp;C Team,&lt;/p&gt;&lt;p&gt;You have a new starter, {!$Record.Name} - {!$Record.Department__c} starting on {!$Record.Start_Date__c} at {!$Record.Site__r.Name}.&lt;/p&gt;&lt;p&gt;Please complete the following list of tasks:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Set employee up in payroll&amp;nbsp;- &lt;strong&gt;due on {!FourWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Sending onboarding pack email via DocuSign - &lt;strong&gt;due on &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Compliance checks for Employment Hero - &lt;strong&gt;due on after first day (weekly on Fridays)&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TalentEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Talent Team,&lt;/p&gt;&lt;p&gt;You have a new starter, {!$Record.Name} - {!$Record.Department__c} starting on {!$Record.Start_Date__c} at {!$Record.Site__r.Name}.&lt;/p&gt;&lt;p&gt;Please complete the following list of tasks:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Following signed contract – confirm with principal clinician new supervisor is aware of allocation - &lt;strong&gt;due on {!FourWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Enter employee into Lumary onboardings&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; - &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;due on {!FourWeeksBefore}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Call employee to check in on onboarding experience - &lt;strong&gt;due on {!SixWeeksAfter}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;Better Rehab&lt;/p&gt;</text>
    </textTemplates>
</Flow>
