force-app/main/default/flows/Onboarding_After_Create_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Direct_Supervisor</name>
        <label>Send Email to Direct Supervisor</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Site_Supervisor_Set_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DSEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Supervisor_New</name>
        <label>Send Email to Direct Supervisor - New</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Site_Supervisor_set</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DSEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Supervisor_Operational</name>
        <label>Send Email to Direct Supervisor - Operational</label>
        <locationX>1634</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DSOperationalEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Direct_Supervisor_Operational_New</name>
        <label>Send Email to Direct Supervisor - Operational</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>DSOperationalEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Principal_Clinician</name>
        <label>Send Email to Principal Clinician</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PCEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Principal_Clinician__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Principal_Clinician_New</name>
        <label>Send Email to Principal Clinician - New</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>PCEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Principal_Clinician__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Site_Supervisor</name>
        <label>Send Email to Site Supervisor</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Principal_Clinician_Set_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SSEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Clinical_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Site_Supervisor_New</name>
        <label>Send Email to Site Supervisor - New</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Is_Principal_Clinician_set</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SSEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Clinical_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>You Have a New Starter</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Direct_Supervisor_Set_Changed</name>
        <label>Is Direct Supervisor Set/Changed?</label>
        <locationX>1766</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Supervisor_Operational</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Direct_Supervisor_Set_Changed_Clinical</name>
        <label>Is Direct Supervisor Set/Changed? - Clinical</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Site_Supervisor_Set_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_DS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Supervisor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Direct_Supervisor_set_Clinical</name>
        <label>Is Direct Supervisor set? - Clinical</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Site_Supervisor_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Clinical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Supervisor_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Direct_Supervisor_set_Operational</name>
        <label>Is Direct Supervisor set? - Operational</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Operational</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direct_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Direct_Supervisor_Operational_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Principal_Clinician_set</name>
        <label>Is Principal Clinician set?</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PC_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Clinician__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Principal_Clinician_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Principal_Clinician_Set_Changed</name>
        <label>Is Principal Clinician Set/Changed?</label>
        <locationX>710</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Principal_Clinician__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Principal_Clinician__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Principal_Clinician</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Site_Supervisor_set</name>
        <label>Is Site Supervisor set?</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Is_Principal_Clinician_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SS_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinical_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Site_Supervisor_New</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Site_Supervisor_Set_Changed</name>
        <label>Is Site Supervisor Set/Changed?</label>
        <locationX>710</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Is_Principal_Clinician_Set_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_SS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinical_Supervisor__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Clinical_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Site_Supervisor</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_record_new</name>
        <label>Is the record new?</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Direct_Supervisor_Set_Changed_Clinical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Direct_Supervisor_set_Clinical</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_record_new_Operational</name>
        <label>Is the record new? - Operational</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Direct_Supervisor_Set_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Operational</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Direct_Supervisor_set_Operational</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_Clinical_or_Operational_onboarding</name>
        <label>Is this a Clinical or Operational onboarding?</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_the_record_new_Operational</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Operational Onboarding - NZ/AUS/Philippines</defaultConnectorLabel>
        <rules>
            <name>Clinical_Onboarding</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) and 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Occupational Therapy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Speech Pathology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Physiotherapy</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PBS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Work</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allied Health Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exercise Physiology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Department__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Psychology</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__r.Business_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_the_record_new</targetReference>
            </connector>
            <label>Clinical Onboarding - Australia</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OneWeekPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>ThreeWeeksPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 21</expression>
    </formulas>
    <formulas>
        <name>TwoWeeksPrior</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Start_Date__c} - 14</expression>
    </formulas>
    <interviewLabel>Onboarding - After Create/Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding - After Create/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_a_Clinical_or_Operational_onboarding</targetReference>
        </connector>
        <object>Onboarding__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DSEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!$Record.Direct_Supervisor__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have a new starter, {!$Record.First_Name__c} {!$Record.Last_Name__c} - {!$Record.Department__c} starting on {!$Record.Start_Date__c}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; at {!$Record.Site__r.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete the following list of tasks:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Introduction call to new starter&amp;nbsp;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on {!ThreeWeeksPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Book in shadowing day with supervisee (Wednesday week 1 &amp;amp; 2 of cycle). &lt;/span&gt;&lt;em style=&quot;font-size: 14px;&quot;&gt;Note: If Wednesday cannot be undertaken please book in Tuesday for shadowing &lt;/em&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;due on {!TwoWeeksPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Book in one MDT Shadow per week (Week 3-6 from start date) &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;due on {!TwoWeeksPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Send first day info email to employees’ personal email address &lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;due on {!OneWeekPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Undertake discipline specific shadowing&amp;nbsp;(See supervisor checklist &lt;/span&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/:b:/s/BetterRehab/ES13KkeWGolAuASUM6Uo5tQBwiBQKIkOxPBfm30DL6gVJg?e=FqukPd&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;) - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;due on Wednesday Week 1 &amp;amp; 2&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Better Rehab&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DSOperationalEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!$Record.Direct_Supervisor__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have a new starter, {!$Record.Name} - {!$Record.Department__c} starting on {!$Record.Start_Date__c}&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; at {!$Record.Site__r.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete the following list of tasks:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Introduction call - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on {!ThreeWeeksPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Attend site for new starter - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Undertake welcome announcement to site and add to site-based Teams chat&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Better Rehab&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>PCEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!$Record.Principal_Clinician__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have a new starter, {!$Record.First_Name__c} {!$Record.Last_Name__c} - {!$Record.Department__c} starting on {!$Record.Start_Date__c} at {!$Record.Site__r.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete the following list of tasks:&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Define geo bubble in consultation with RM and communicate to OM - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on {!ThreeWeeksPrior}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Discipline-specific onboarding (see PC checklist &lt;/span&gt;&lt;a href=&quot;https://betterrehabilitation.sharepoint.com/:b:/s/BetterRehab/EdSzY3uglbRNl1zyLBr8i_wBWSKdUDNlajcddUA7Ir8Oag?e=dcfUUd&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;) - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on Wednesday Week 1 &amp;amp; 2&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Better Rehab&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SSEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Hi {!$Record.Clinical_Supervisor__r.FirstName},&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You have a new starter, {!$Record.Name} - {!$Record.Department__c} starting on {!$Record.Start_Date__c}&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; at {!$Record.Site__r.Name}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please complete the following list of tasks:&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Attend site for new starter - &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Undertake welcome announcement to site and add to site-based Teams chat&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;- &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;due on {!$Record.Start_Date__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Regards&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Better Rehab&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
