force-app/main/default/flows/PD_Approval_Denial_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Clinical_Supervisor_available</name>
        <label>Clinical Supervisor available</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PD_Request__r.Employee_Name__r.Clinical_Supervisor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_CS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>PD_Request_Type</name>
        <label>PD Request Type</label>
        <locationX>534</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PD_Request__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_DS</targetReference>
            </connector>
            <label>Clinician</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_who_denies_the_request</name>
        <label>Person who denies the request</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Clinical_Supervisor_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Regional_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Regional Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PC_0</targetReference>
            </connector>
            <label>Regional Manager</label>
        </rules>
        <rules>
            <name>State_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Position__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_PC_0_0</targetReference>
            </connector>
            <label>State Manager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>{!$Record.PD_Request__r.Employee_Name__r.FirstName} + &quot; &quot; + {!$Record.PD_Request__r.Employee_Name__r.LastName} + &quot;&apos;s PD Request is Denied&quot;</expression>
    </formulas>
    <interviewLabel>PD Approval Denial Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PD Approval Denial Notifications</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Notify_CS</name>
        <label>Notify CS</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is to inform you that your supervisee&apos;s PD request has been denied.  For more information, contact the supervisee and approvers of the PD request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Employee_Name__r.Clinical_Supervisor__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notify_DS</name>
        <label>Notify DS</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Person_who_denies_the_request</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is to inform you that your supervisee&apos;s PD request has been denied.  For more information, contact the supervisee and approvers of the PD request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Employee_Name__r.Direct_Supervisor__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notify_Employee_0</name>
        <label>Notify Employee</label>
        <locationX>534</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>PD_Request_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Employee_Name__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Your PD Request is Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notify_PC_0</name>
        <label>Notify PC</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Clinical_Supervisor_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is to inform you that your supervisee&apos;s PD request has been denied.  For more information, contact the supervisee and approvers of the PD request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Principal_Clinician__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notify_PC_0_0</name>
        <label>Notify PC</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Notify_RM_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is to inform you that your supervisee&apos;s PD request has been denied.  For more information, contact the supervisee and approvers of the PD request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Principal_Clinician__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Notify_RM_0_0_0</name>
        <label>Notify RM</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Clinical_Supervisor_available</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>This task is to inform you that your supervisee&apos;s PD request has been denied.  For more information, contact the supervisee and approvers of the PD request.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.PD_Request__r.Regional_Manager__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.PD_Request__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notify_Employee_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </filters>
        <object>PD_Approval__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
