force-app/main/default/flows/PD_Request_Approved_Employee_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_Notification_to_Employee_0</name>
        <label>Send Approval Notification to Employee</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ApprovalNotificationEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Employee_Name__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>learning@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your PD Request has been Approved</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_DS</name>
        <label>Send Email to DS</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyToDS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Employee_Name__r.Direct_Supervisor__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>learning@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubjectToDS</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Clinician_or_AHA</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Clinician</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allied_Health_Assistant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_DS</targetReference>
            </connector>
            <label>Clinician or AHA</label>
        </rules>
    </decisions>
    <decisions>
        <name>PD_Request_Result</name>
        <label>PD Request Result</label>
        <locationX>512</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Notification_to_Employee_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Denied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Employee</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Denied</label>
        </rules>
    </decisions>
    <description>Add the total subsidised and self-funded cost</description>
    <environments>Default</environments>
    <interviewLabel>PD Request Approved Employee Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PD Request Approved Employee Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Notify_Employee</name>
        <label>Notify Employee</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Employee_Name__r.enrtcr__User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Your PD Request is Denied</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PD_Request_Result</targetReference>
        </connector>
        <object>PD_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ApprovalNotificationEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Employee_Name__r.enrtcr__Display_Full_Name__c},&lt;/p&gt;&lt;p&gt;Your PD request has been approved! Please find the next steps and details here:&lt;/p&gt;&lt;p&gt;Course Name: {!$Record.Course_Name__c}&lt;/p&gt;&lt;p&gt;Cost Subsidy breakdown:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Employee PD: {!$Record.Cost_from_Annual_PD__c}&lt;/li&gt;&lt;li&gt;Rewards PD: {!$Record.Cost_from_Rewards_PD__c}&lt;/li&gt;&lt;li&gt;Extra PD: {!$Record.Additional_BR_Contribution__c}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Total Subsidised Cost&lt;/strong&gt;: {!$Record.Total_Subsidised_Cost__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Self-Funded Cost by Employee&lt;/strong&gt;: {!$Record.Total_Self_Funded_Cost__c}&lt;/p&gt;&lt;p&gt;Link to PD Request: https://betterrehab.lightning.force.com/lightning/r/PD_Request__c/{!$Record.Id}/view&lt;/p&gt;&lt;p&gt;Study leave days: {!$Record.Days_of_Leave_Required__c} day(s) ({!$Record.Course_Date_1__c}, {!$Record.Course_Date_2__c}, {!$Record.Course_Date_3__c}, {!$Record.Course_Date_4__c})&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next Steps&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;If there is a subsidy amount, please forward this email to your office manager attaching the invoice/receipt/course link for the PD and ask them to please process the reimbursement/purchase the course for the subsidy amount.&lt;/li&gt;&lt;li&gt;If there is study leave, please submit a &lt;a href=&quot;https://secure.employmenthero.com/users/sign_in&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;study leave request in Employment Hero&lt;/a&gt; (Note: If you are a clinician, please also submit a &lt;a href=&quot;https://betterrehab.lightning.force.com/lightning/n/Better_Rehab_SDE&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;“Study Leave” service delivery&lt;/a&gt; under the client “Better Rehab” in Lumary reflecting the hours spent on training on the date of the PD).&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;If your PD is cancelled or you can no longer attend, please delete your PD request in Lumary.&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;L&amp;amp;D Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyToDS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is an automated email to inform you that your supervisee {!$Record.Employee_Name__r.enrtcr__Display_Full_Name__c}&apos;s PD Request has been approved and requires {!$Record.Days_of_Leave_Required__c} days of leave. Please keep an eye out for any leave requests.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Regards,&amp;nbsp;&lt;/p&gt;&lt;p&gt;L&amp;amp;D Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubjectToDS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your supervisee {!$Record.Employee_Name__r.enrtcr__Display_Full_Name__c}&apos;s PD request has been approved&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
