force-app/main/default/flows/Pendula_Low_Survey_Score_Update_Region.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>NSW - Low Survey Score received</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>WA - Low survey score received</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Blank Session Region - Low survey score received</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>VIC - Low survey score received</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>QLD - Low survey score received</label>
        </rules>
    </decisions>
    <description>Creates a new Complaint / Incident record after a low survey score is received (1-6)</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +[Customer_Feedback_Survey__c].Survey_Response__c + &quot; out of 10.&quot; + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ([Customer_Feedback_Survey__c].Session__c.Name)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ([Customer_Feedback_Survey__c].Session__c.Start_Date_as_Text__c)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ([Customer_Feedback_Survey__c].Session_Site__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ([Customer_Feedback_Survey__c].Session_Region__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+([Customer_Feedback_Survey__c].Session__c.Id)+&quot;/view&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_2655357256</name>
        <dataType>String</dataType>
        <expression>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +{!myVariable_current.Survey_Response__c} + &quot; out of 10.&quot; + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ({!myVariable_current.Session__r.Name})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ({!myVariable_current.Session__r.Start_Date_as_Text__c})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ({!myVariable_current.Session_Site__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ({!myVariable_current.Session_Region__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+({!myVariable_current.Session__r.Id})+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_11_myRule_9_A1_5054452764</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +[Customer_Feedback_Survey__c].Survey_Response__c + &quot; out of 10.&quot; + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ([Customer_Feedback_Survey__c].Session__c.Name)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ([Customer_Feedback_Survey__c].Session__c.Start_Date_as_Text__c)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ([Customer_Feedback_Survey__c].Session_Site__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ([Customer_Feedback_Survey__c].Session_Region__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+([Customer_Feedback_Survey__c].Session__c.Id)+&quot;/view&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_14_myRule_13_A1_4549682603</name>
        <dataType>String</dataType>
        <expression>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +{!myVariable_current.Survey_Response__c} + &quot; out of 10.&quot; + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ({!myVariable_current.Session__r.Name})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ({!myVariable_current.Session__r.Start_Date_as_Text__c})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ({!myVariable_current.Session_Site__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ({!myVariable_current.Session_Region__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+({!myVariable_current.Session__r.Id})+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_13_A1_7895589785</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +[Customer_Feedback_Survey__c].Survey_Response__c + &quot; out of 10.&quot; + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ([Customer_Feedback_Survey__c].Session__c.Name)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ([Customer_Feedback_Survey__c].Session__c.Start_Date_as_Text__c)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ([Customer_Feedback_Survey__c].Session_Site__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ([Customer_Feedback_Survey__c].Session_Region__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+([Customer_Feedback_Survey__c].Session__c.Id)+&quot;/view&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_18_myRule_17_A1_2827376249</name>
        <dataType>String</dataType>
        <expression>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +{!myVariable_current.Survey_Response__c} + &quot; out of 10.&quot; + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ({!myVariable_current.Session__r.Name})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ({!myVariable_current.Session__r.Start_Date_as_Text__c})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ({!myVariable_current.Session_Site__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ({!myVariable_current.Session_Region__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+({!myVariable_current.Session__r.Id})+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_19_myRule_17_A1_8838418848</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +[Customer_Feedback_Survey__c].Survey_Response__c + &quot; out of 10.&quot; + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ([Customer_Feedback_Survey__c].Session__c.Name)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ([Customer_Feedback_Survey__c].Session__c.Start_Date_as_Text__c)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ([Customer_Feedback_Survey__c].Session_Site__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ([Customer_Feedback_Survey__c].Session_Region__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+([Customer_Feedback_Survey__c].Session__c.Id)+&quot;/view&quot;
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_1001925870</name>
        <dataType>String</dataType>
        <expression>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; +{!myVariable_current.Survey_Response__c} + &quot; out of 10.&quot; + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ({!myVariable_current.Session__r.Name})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ({!myVariable_current.Session__r.Start_Date_as_Text__c})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ({!myVariable_current.Session_Site__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ({!myVariable_current.Session_Region__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+({!myVariable_current.Session__r.Id})+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_3477742010</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; + [Customer_Feedback_Survey__c].Survey_Response__c + &quot; out of 10.&quot; + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ([Customer_Feedback_Survey__c].Session__c.Name)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ([Customer_Feedback_Survey__c].Session__c.Start_Date_as_Text__c)
+SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ([Customer_Feedback_Survey__c].Session_Site__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ([Customer_Feedback_Survey__c].Session_Region__c)
+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE($Label.NewLine, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+([Customer_Feedback_Survey__c].Session__c.Id)+&quot;/view&quot;</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_3350864206</name>
        <dataType>String</dataType>
        <expression>&quot;A Client responded to a Pendula - Customer Feedback Survey. They gave a score of: &quot; + {!myVariable_current.Survey_Response__c} + &quot; out of 10.&quot; + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) + SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +
&quot;Session Details: &quot; +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;) +SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Session ID: &quot; + ({!myVariable_current.Session__r.Name})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Date: &quot; + ({!myVariable_current.Session__r.Start_Date_as_Text__c})
+SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Site: &quot; + ({!myVariable_current.Session_Site__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+&quot;Region: &quot; + ({!myVariable_current.Session_Region__c})
+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)+ SUBSTITUTE({!$Label.NewLine}, &quot;-&quot;, &quot;&quot;)
+ &quot;Link to Session: &quot; 
+&quot;https://betterrehab.lightning.force.com/lightning/r/enrtcr__Session__c/&quot;+({!myVariable_current.Session__r.Id})+&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_7768746561</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Customer_Feedback_Survey__c].Session_Region__c = &apos;NSW&apos;,
NOT(ISBLANK([Customer_Feedback_Survey__c].Survey_Response__c )),
VALUE([Customer_Feedback_Survey__c].Survey_Response__c)&lt;=6,
[Customer_Feedback_Survey__c].Survey_is_Completed__c = TRUE
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Session_Region__c} = &apos;NSW&apos;,
NOT(ISBLANK({!myVariable_current.Survey_Response__c} )),
VALUE({!myVariable_current.Survey_Response__c})&lt;=6,
{!myVariable_current.Survey_is_Completed__c} = TRUE
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Customer_Feedback_Survey__c].Session_Region__c = &apos;WA&apos;,
NOT(ISBLANK([Customer_Feedback_Survey__c].Survey_Response__c )),
VALUE([Customer_Feedback_Survey__c].Survey_Response__c)&lt;=6,
[Customer_Feedback_Survey__c].Survey_is_Completed__c = TRUE
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Session_Region__c} = &apos;WA&apos;,
NOT(ISBLANK({!myVariable_current.Survey_Response__c} )),
VALUE({!myVariable_current.Survey_Response__c})&lt;=6,
{!myVariable_current.Survey_is_Completed__c} = TRUE
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISBLANK([Customer_Feedback_Survey__c].Session_Region__c),
NOT(ISBLANK([Customer_Feedback_Survey__c].Survey_Response__c )),
VALUE([Customer_Feedback_Survey__c].Survey_Response__c)&lt;=6,
[Customer_Feedback_Survey__c].Survey_is_Completed__c = TRUE
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISBLANK({!myVariable_current.Session_Region__c}),
NOT(ISBLANK({!myVariable_current.Survey_Response__c} )),
VALUE({!myVariable_current.Survey_Response__c})&lt;=6,
{!myVariable_current.Survey_is_Completed__c} = TRUE
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Customer_Feedback_Survey__c].Session_Region__c = &apos;VIC&apos;,
NOT(ISBLANK([Customer_Feedback_Survey__c].Survey_Response__c )),
VALUE([Customer_Feedback_Survey__c].Survey_Response__c)&lt;=6,
[Customer_Feedback_Survey__c].Survey_is_Completed__c = TRUE
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Session_Region__c} = &apos;VIC&apos;,
NOT(ISBLANK({!myVariable_current.Survey_Response__c} )),
VALUE({!myVariable_current.Survey_Response__c})&lt;=6,
{!myVariable_current.Survey_is_Completed__c} = TRUE
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
[Customer_Feedback_Survey__c].Session_Region__c = &apos;QLD&apos;,
NOT(ISBLANK([Customer_Feedback_Survey__c].Survey_Response__c )),
VALUE([Customer_Feedback_Survey__c].Survey_Response__c)&lt;=6,
[Customer_Feedback_Survey__c].Survey_is_Completed__c = TRUE
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND(
{!myVariable_current.Session_Region__c} = &apos;QLD&apos;,
NOT(ISBLANK({!myVariable_current.Survey_Response__c} )),
VALUE({!myVariable_current.Survey_Response__c})&lt;=6,
{!myVariable_current.Survey_is_Completed__c} = TRUE
)</expression>
    </formulas>
    <interviewLabel>Pendula_Low_Survey_Score_Update_Region-3_InterviewLabel</interviewLabel>
    <label>Pendula - Low Survey Score Update Region</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Customer_Feedback_Survey__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordCreates>
        <name>myRule_13_A1</name>
        <label>WA - Create new Complaint / Incident</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Actioned By (1)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Actioned_By_1__c</field>
            <value>
                <stringValue>0052v00000e2DewAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Details</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>formula_14_myRule_13_A1_4549682603</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Type__c</field>
            <value>
                <stringValue>Low Survey Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000e2DewAAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001X5GQAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Severity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Severity__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>myVariable_current.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time of Incident</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Date_Time_of_Incident__c</field>
            <value>
                <elementReference>formula_15_myRule_13_A1_7895589785</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Incident_Management__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_17_A1</name>
        <label>Create new Complaint / Incident</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Details</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>formula_18_myRule_17_A1_2827376249</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Type__c</field>
            <value>
                <stringValue>Low Survey Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000fbfZRAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001X5GQAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <stringValue>Blank</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Severity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Severity__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>myVariable_current.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time of Incident</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Date_Time_of_Incident__c</field>
            <value>
                <elementReference>formula_19_myRule_17_A1_8838418848</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Incident_Management__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_1_A1</name>
        <label>NSW - Create new Complaint / Incident</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Actioned By (1)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Actioned_By_1__c</field>
            <value>
                <stringValue>0052v00000fbfZRAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Details</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_1001925870</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Type__c</field>
            <value>
                <stringValue>Low Survey Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000fbfZRAAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001X5GQAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <stringValue>NSW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Severity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Severity__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>myVariable_current.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time of Incident</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Date_Time_of_Incident__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_3477742010</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Incident_Management__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_5_A1</name>
        <label>VIC - Create new Complaint / Incident</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Actioned By (1)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Actioned_By_1__c</field>
            <value>
                <stringValue>0052v00000dSleoAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Details</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_3350864206</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Type__c</field>
            <value>
                <stringValue>Low Survey Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000dSleoAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001X5GQAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <stringValue>VIC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Severity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Severity__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>myVariable_current.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time of Incident</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Date_Time_of_Incident__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_7768746561</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Incident_Management__c</object>
    </recordCreates>
    <recordCreates>
        <name>myRule_9_A1</name>
        <label>QLD - Create new Complaint / Incident</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Actioned By (1)</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>Actioned_By_1__c</field>
            <value>
                <stringValue>0052v00000cDbsrAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Details</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Details__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_2655357256</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Complaint Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Complaint_Type__c</field>
            <value>
                <stringValue>Low Survey Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Owner ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <stringValue>0052v00000cDbsrAAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Record Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>RecordType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0122v000001X5GQAA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Region</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Region__c</field>
            <value>
                <stringValue>QLD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Severity</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Severity__c</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Client</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>myVariable_current.Recipient__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time of Incident</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>enrtcr__Date_Time_of_Incident__c</field>
            <value>
                <elementReference>formula_11_myRule_9_A1_5054452764</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Incident_Management__c</object>
    </recordCreates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Feedback_Survey__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Customer_Feedback_Survey__c</objectType>
    </variables>
</Flow>
