force-app/main/default/flows/Personal_Support_Plan_PBS_Review_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>3 tasks</description>
        <name>Email_for_Non_Restrictive_Practices</name>
        <label>Email for Non Restrictive Practices</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>4 tasks</description>
        <name>Email_for_Restrictive_Practices</name>
        <label>Email for Restrictive Practices</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRP</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.CreatedBy.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_the_Record_Type</name>
        <label>Check the Record Type</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PBS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Positive_Behaviour_Support_Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_and_Update_Behaviour_Support_Plan</targetReference>
            </connector>
            <label>If PBS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Restrictive_Practice</name>
        <label>Restrictive Practice?</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrictive_Practices__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Review_Restrictive_Practices</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
        <rules>
            <name>If_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Restrictive_Practices__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Non_Restrictive_Practices</targetReference>
            </connector>
            <label>If No</label>
        </rules>
    </decisions>
    <formulas>
        <name>ExpiringPlan</name>
        <dataType>String</dataType>
        <expression>&quot;Expiring Behaviour Support Plan - &quot; + {!$Record.enrtcr__Client__r.FirstName} + &quot; &quot; + {!$Record.enrtcr__Client__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ExpiringPlanDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Plan_End_Date__c} - 7</expression>
    </formulas>
    <formulas>
        <name>ReviewAndUpdatePlan</name>
        <dataType>String</dataType>
        <expression>&quot;Review and Update Behaviour Support Plan - &quot; + {!$Record.enrtcr__Client__r.FirstName} + &quot; &quot; + {!$Record.enrtcr__Client__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ReviewPBSPlan</name>
        <dataType>String</dataType>
        <expression>&quot;Review PBS Plan - &quot; + {!$Record.enrtcr__Client__r.FirstName} + &quot; &quot; + {!$Record.enrtcr__Client__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ReviewPBSPlanDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Plan_End_Date__c} - 42</expression>
    </formulas>
    <formulas>
        <name>ReviewRestrictivePractice</name>
        <dataType>String</dataType>
        <expression>&quot;Review Restrictive Practice - &quot; + {!$Record.enrtcr__Client__r.FirstName} + &quot; &quot; + {!$Record.enrtcr__Client__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>ReviewRestrictivePracticeDueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.enrtcr__Next_Review_Date__c} - 42</expression>
    </formulas>
    <interviewLabel>Personal Support Plan - PBS Review Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personal Support Plan Reminders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Expiring_Behaviour_Support_Plan</name>
        <label>Expiring Behaviour Support Plan</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Restrictive_Practice</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ExpiringPlanDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ExpiringPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Review_and_Update_Behaviour_Support_Plan</name>
        <label>Review and Update Behaviour Support Plan</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Expiring_Behaviour_Support_Plan</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Record.Review_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ReviewAndUpdatePlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Review_Restrictive_Practices</name>
        <label>Review Restrictive Practices</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Email_for_Restrictive_Practices</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>ReviewRestrictivePracticeDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>ReviewRestrictivePractice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Record_Type</targetReference>
        </connector>
        <object>enrtcr__Personal_Support_Plan__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyNoRP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;New tasks have been created for you regarding a PBS plan that you just created.&lt;/p&gt;&lt;p&gt;Click here for more details:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/Task/{!Review_and_Update_Behaviour_Support_Plan}/view&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/Task/{!Expiring_Behaviour_Support_Plan}/view&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>For Restrictive Practices</description>
        <name>EmailBodyRP</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi,&lt;/p&gt;&lt;p&gt;New tasks have been created for you regarding a PBS plan that you just created.&lt;/p&gt;&lt;p&gt;Click here for more details:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/Task/{!Review_and_Update_Behaviour_Support_Plan}/view&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/Task/{!Expiring_Behaviour_Support_Plan}/view&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;https://betterrehab.lightning.force.com/lightning/r/Task/{!Review_Restrictive_Practices}/view&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;New Tasks for PBS Plan&lt;/p&gt;</text>
    </textTemplates>
</Flow>
