force-app/main/default/flows/Re_engagement_Task_to_Create_SA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_for_Assigned_To</name>
        <label>Check for Assigned To</label>
        <locationX>873</locationX>
        <locationY>495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Assigned_To_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskAssignedTo.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CER_of_the_Event</targetReference>
            </connector>
            <label>If Assigned To Is Not Null</label>
        </rules>
    </decisions>
    <description>Reminder to create new SAs for re-engagement clients. Currently sent to Marife.</description>
    <formulas>
        <name>SevenDaysbeforeEventStarts</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.StartDateTime} - 7</expression>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Re-engagement Event: Create &quot; + TEXT({!Worker.Clinician_Discipline__c}) + &quot; SA For &quot; + {!Get_CER_of_the_Event.Client__r.FirstName} + &quot; &quot; + {!Get_CER_of_the_Event.Client__r.LastName}</expression>
    </formulas>
    <interviewLabel>Re-engagement - Task to Create SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-engagement - Task to Create SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Reminder_to_Create_New_SAs</name>
        <label>Reminder to Create New SAs</label>
        <locationX>170</locationX>
        <locationY>523</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>SevenDaysbeforeEventStarts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <stringValue>Check the &quot;Related To&quot; field to find out more about the type of SA needed from the Plan Review Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>TaskAssignedTo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Plan_Review_Report__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_CER_of_the_Event.Client__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_CER_of_the_Event</name>
        <label>Get CER of the Event</label>
        <locationX>505</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Worker</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Event_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Client_Event_Relation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TaskAssignedTo</name>
        <label>TaskAssignedTo</label>
        <locationX>1080</locationX>
        <locationY>463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Assigned_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>Contains</operator>
            <value>
                <stringValue>marife@betterrehab.com.au</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Worker</name>
        <label>Worker</label>
        <locationX>184</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reminder_to_Create_New_SAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Re_engagement_Worker_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>TaskAssignedTo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Re_engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Plan_Review_Report__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Re_engagement_Worker_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Event</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
