force-app/main/default/flows/Send_Email_Notification_After_Survey_Feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Notification_To_Clinicians</name>
        <label>Send Email Notification To Clinicians</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Worker__r.enrtcr__User__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>it@betterrehab.com.au</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailNotificationSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Is_there_a_worker</name>
        <label>Is there a worker?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Worker__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Notification_To_Clinicians</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EmailNotificationSubject</name>
        <dataType>String</dataType>
        <expression>&quot;New Survey Response from &quot; + {!$Record__Prior.Recipient__r.FirstName} + &quot; &quot; + {!$Record__Prior.Recipient__r.LastName}</expression>
    </formulas>
    <interviewLabel>Send Email Notification After Survey Feedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback Survey - After Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_there_a_worker</targetReference>
        </connector>
        <filterFormula>AND({!$Record.Did_recipient_reply_STOP__c} = False, VALUE({!$Record.Survey_Response__c}) &lt;= 10)</filterFormula>
        <object>Feedback_Survey__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!$Record.Worker__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.Worker__r.LastName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;You have received a new feedback response from {!$Record.Recipient__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Recipient__r.LastName}&lt;/span&gt;. They have scored you a &lt;strong&gt;{!$Record.Survey_Response__c} out of 10&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;If you have any questions about this, please reach out to your Regional Manager.&lt;/p&gt;</text>
    </textTemplates>
</Flow>
