force-app/main/default/flows/Service_Agreement_Remaining_Balance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Total</name>
        <label>Add Total</label>
        <locationX>588</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>Total_SA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SA_Current.enrtcr__Remaining_Balance__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Agreement_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Service Agreement Remaining Balance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Agreement Remaining Balance</label>
    <loops>
        <name>Service_Agreement_Loop</name>
        <label>Service Agreement Loop</label>
        <locationX>393</locationX>
        <locationY>215</locationY>
        <assignNextValueToReference>SA_Current</assignNextValueToReference>
        <collectionReference>SA_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Total</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Client</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Agreement_Totals</name>
        <label>Get Service Agreement Totals</label>
        <locationX>252</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Agreement_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Expired</stringValue>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>enrtcr__Support_Contract__c</object>
        <outputReference>SA_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>enrtcr__Remaining_Balance__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client</name>
        <label>Update Client</label>
        <locationX>392</locationX>
        <locationY>492</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Client_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Agreement_Remaining_Balances__c</field>
            <value>
                <elementReference>Total_SA</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <startElementReference>Get_Service_Agreement_Totals</startElementReference>
    <status>Active</status>
    <variables>
        <name>Client_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>enrtcr__Support_Contract__c</objectType>
    </variables>
    <variables>
        <name>SA_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>enrtcr__Support_Contract__c</objectType>
    </variables>
    <variables>
        <name>Total_SA</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
