force-app/main/default/flows/Service_Request_Update_from_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>If_Status_is_Updated</name>
        <label>If Status is Updated</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated_to_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Booked</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Service_Request</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Updated to Booked</label>
        </rules>
        <rules>
            <name>Updated_to_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Service_Request_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Updated to Closed</label>
        </rules>
        <rules>
            <name>Updated_to_Waitlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waitlist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Service_Request_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Updated to Waitlist</label>
        </rules>
        <rules>
            <name>Update_to_Contacted</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contacted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To be followed up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Service_Request_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update to Contacted</label>
        </rules>
        <rules>
            <name>Update_to_Pending_PCL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.enrtcr__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending PCL Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Service_Request_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Update to Pending PCL</label>
        </rules>
    </decisions>
    <description>Add telehealth and opt out fields</description>
    <environments>Default</environments>
    <interviewLabel>Service Request - Update from Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request - Update from Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>If enquiry&apos;s priority is updated, update its service request too</description>
        <name>Update_Priority</name>
        <label>Update Priority</label>
        <locationX>710</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>If_Status_is_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Can_the_client_be_seen_via_telehealth__c</field>
            <value>
                <elementReference>$Record.Can_the_client_be_seen_via_telehealth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Waitlist_Audit__c</field>
            <value>
                <elementReference>$Record.Opt_Out_of_Waitlist_Audit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Service_Request</name>
        <label>Update the Service Request - Completed</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Service_Request_0</name>
        <label>Update the Service Request - Cancelled</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>enrtcr__Cancellation_Reason__c</field>
            <value>
                <elementReference>$Record.Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Service_Request_0_0</name>
        <label>Update the Service Request - Waitlist</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Service_Request_0_0_0</name>
        <label>Update the Service Request - Contacted</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Service_Request_0_0_0_0</name>
        <label>Update the Service Request - PCL</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Service_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Pending PCL Approval</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Service_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>enrtcr__Enquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
