force-app/main/default/flows/Service_Delivered_After_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <description>Update client-clinician with every SDE that is lodged</description>
    <environments>Default</environments>
    <interviewLabel>Service Delivered - After Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Delivered - After Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Client_Clinician</name>
        <label>Get Client-Clinician</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Client_Clinician_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.enrtcr__Support_Contract__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinician_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <filters>
            <field>Clinician__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Clinician_s_Contact_Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Staff_Allocation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinician_s_Contact_Profile</name>
        <label>Get Clinician&apos;s Contact Profile</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Clinician</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.enrtcr__Worker__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the &apos;Last Contacted Date&apos; field</description>
        <name>Update_Client_Clinician_Record</name>
        <label>Update Client-Clinician Record</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Clinician.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Contacted_Date__c</field>
            <value>
                <elementReference>$Record.enrtcr__Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>enrtcr__Staff_Allocation__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Clinician_s_Contact_Profile</targetReference>
        </connector>
        <object>enrtcr__Support_Delivered__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
