force-app/main/default/flows/Service_Request_Update_to_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_for_Enquiry</name>
        <label>Check for Enquiry</label>
        <locationX>339</locationX>
        <locationY>790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enquiry_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_the_corresponding_Enquiry_record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_the_Enquiry</targetReference>
            </connector>
            <label>Enquiry is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Checking_Handover_Type</name>
        <label>Checking Handover Type</label>
        <locationX>928</locationX>
        <locationY>536</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Allocated_to_Unallocated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unallocated Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Enquiry_Record_Type</targetReference>
            </connector>
            <label>Allocated to Unallocated</label>
        </rules>
        <rules>
            <name>Unallocated_to_Allocated_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unallocated Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_the_corresponding_Enquiry_record</targetReference>
            </connector>
            <label>Unallocated to Allocated</label>
        </rules>
    </decisions>
    <description>Reflect SR updates to its corresponding enquiry</description>
    <environments>Default</environments>
    <interviewLabel>Service Request - Update to Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request - Update to Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Enquiry</name>
        <label>Create Enquiry</label>
        <locationX>1217</locationX>
        <locationY>1036</locationY>
        <inputAssignments>
            <field>Closest_Office__c</field>
            <value>
                <elementReference>$Record.Closest_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Type__c</field>
            <value>
                <stringValue>NDIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Enquiry_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unallocated_handover__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Assigned_To__c</field>
            <value>
                <elementReference>Get_Closest_Site.Office_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Outcome_Comments__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Region__c</field>
            <value>
                <elementReference>Get_Closest_Site.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Source_of_Enquiry__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_the_corresponding_Enquiry_record</name>
        <label>Find the corresponding Enquiry record</label>
        <locationX>682</locationX>
        <locationY>700</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Closest_Site</name>
        <label>Get Closest Site</label>
        <locationX>946</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Enquiry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Closest_Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_Record_Type</name>
        <label>Get Enquiry Record Type</label>
        <locationX>1084</locationX>
        <locationY>772</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Closest_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing_Client_Enquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>enrtcr__Enquiry__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_the_Enquiry</name>
        <label>Close the Enquiry</label>
        <locationX>622</locationX>
        <locationY>930</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_the_corresponding_Enquiry_record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason__c</field>
            <value>
                <stringValue>No Longer Require Service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Enquiry__c</object>
    </recordUpdates>
    <start>
        <locationX>818</locationX>
        <locationY>96</locationY>
        <connector>
            <targetReference>Checking_Handover_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Handover_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>enrtcr__Service_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
