force-app/main/default/flows/Service_Request_Duplicate_to_Enquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Handover</name>
        <label>Handover?</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_unallocated_handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unallocated Handover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enquiry_0</targetReference>
            </connector>
            <label>If unallocated handover</label>
        </rules>
        <rules>
            <name>If_not_a_handover</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Enquiry</targetReference>
            </connector>
            <label>If not a handover</label>
        </rules>
        <rules>
            <name>If_allocated_handover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handover_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allocated Handover</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Handover_Clinician__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assigned_To</targetReference>
            </connector>
            <label>If allocated handover</label>
        </rules>
    </decisions>
    <description>Add telehealth and opt out mapping</description>
    <environments>Default</environments>
    <interviewLabel>Service Request - Duplicate to Enquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Request - Duplicate to Enquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Enquiry</name>
        <label>Create Enquiry</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Can_the_client_be_seen_via_telehealth__c</field>
            <value>
                <elementReference>$Record.Can_the_client_be_seen_via_telehealth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closest_Office__c</field>
            <value>
                <elementReference>$Record.Closest_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Type__c</field>
            <value>
                <stringValue>NDIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Waitlist_Audit__c</field>
            <value>
                <elementReference>$Record.Opt_Out_of_Waitlist_Audit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.enrtcr__Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Enquiry_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Assigned_To__c</field>
            <value>
                <elementReference>Get_Closest_Site.Office_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Outcome_Comments__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Region__c</field>
            <value>
                <elementReference>Get_Closest_Site.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Source_of_Enquiry__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Enquiry_0</name>
        <label>Create Enquiry</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Can_the_client_be_seen_via_telehealth__c</field>
            <value>
                <elementReference>$Record.Can_the_client_be_seen_via_telehealth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Closest_Office__c</field>
            <value>
                <elementReference>$Record.Closest_Office__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discipline__c</field>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enquiry_Type__c</field>
            <value>
                <stringValue>NDIS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opt_Out_of_Waitlist_Audit__c</field>
            <value>
                <elementReference>$Record.Opt_Out_of_Waitlist_Audit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Postcode__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__r.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>$Record.enrtcr__Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Enquiry_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer_Type__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unallocated_handover__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Assigned_To__c</field>
            <value>
                <elementReference>Get_Closest_Site.Office_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Client__c</field>
            <value>
                <elementReference>$Record.enrtcr__Client__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Outcome_Comments__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Region__c</field>
            <value>
                <elementReference>Get_Closest_Site.enrtcr__Business_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Source_of_Enquiry__c</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <object>enrtcr__Enquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Closest_Site</name>
        <label>Get Closest Site</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Site_and_Assigned_To</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.enrtcr__Client__r.Site_Allocation__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>enrtcr__Site__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Enquiry_Record_Type</name>
        <label>Get Enquiry Record Type</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Handover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Existing_Client_Enquiry</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>enrtcr__Enquiry__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assigned_To</name>
        <label>Update Assigned To</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>enrtcr__Coordinator__c</field>
            <value>
                <elementReference>$Record.Handover_Clinician__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_and_Assigned_To</name>
        <label>Update Site and Assigned To</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_Enquiry_Record_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Closest_Office__c</field>
            <value>
                <elementReference>Get_Closest_Site.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>enrtcr__Coordinator__c</field>
            <value>
                <elementReference>Get_Closest_Site.Office_Admin__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Closest_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>enrtcr__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>enrtcr__Service_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
