force-app/main/default/flows/Task_After_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_Email</name>
        <label>ACT Email</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>Task.ACT_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>NSW_Email</name>
        <label>NSW Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Task.NSW_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>QLD_Email</name>
        <label>QLD Email</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <actionName>Task.QLD_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SA_Email</name>
        <label>SA Email</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <actionName>Task.SA_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>VIC_Email</name>
        <label>VIC Email</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <actionName>Task.VIC_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>WA_Email</name>
        <label>WA Email</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <actionName>Task.WA_AHA_Task_Creation_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_the_task_assigned_to_an_AHA_queue</name>
        <label>Is the task assigned to an AHA queue?</label>
        <locationX>1370</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_AHA_Queue_checkbox</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_to_Each_AHA_Queue</name>
        <label>Send Email to Each AHA Queue</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NSW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSW_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NSW_Email</targetReference>
            </connector>
            <label>NSW</label>
        </rules>
        <rules>
            <name>ACT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACT_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ACT_Email</targetReference>
            </connector>
            <label>ACT</label>
        </rules>
        <rules>
            <name>QLD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QLD_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>QLD_Email</targetReference>
            </connector>
            <label>QLD</label>
        </rules>
        <rules>
            <name>VIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VIC_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>VIC_Email</targetReference>
            </connector>
            <label>VIC</label>
        </rules>
        <rules>
            <name>WA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WA_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WA_Email</targetReference>
            </connector>
            <label>WA</label>
        </rules>
        <rules>
            <name>SA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SA_AHA_Queue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SA_Email</targetReference>
            </connector>
            <label>SA</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task - After Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - After Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Check_AHA_Queue_checkbox</name>
        <label>Check AHA Queue checkbox</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Send_Email_to_Each_AHA_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AHA_Queue_Checkbox__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_the_task_assigned_to_an_AHA_queue</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
